<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-currency-usd</v-icon> Administrar Ventas
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-credit-card</v-icon> Boletas y Facturas
        Electrónicas
      </h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm12 md4> </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm12 md4>
            <v-text-field
              label="Buscar..."
              hide-details
              prepend-icon="mdi-magnify"
              color="black"
              v-model="search"
              @keyup.enter="listAll"
              @keyup="searchData"
            >
            </v-text-field>
          </v-flex>
        </v-row>
      </validation-observer>
      <br />
      <v-simple-table v-if="hasData && !edit">
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Cliente
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Documento
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Detalle
              </th>
              <th
                v-if="$store.getters.role.special == 'all-access'"
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Usuario
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>
                <b
                  >{{ item.client.documentType }} -
                  {{ item.client.documentNumber }}: </b
                >{{ item.client.firstName }} {{ item.client.lastName }}
              </td>
              <td width="80">{{ item.date | moment("DD/MM/YYYY") }}</td>
              <td>
                <b>
                  {{ item.type + ": " }}{{ item.serie + "-"
                  }}{{ item.correlative }}
                </b>
              </td>
              <td>{{ item.detail }}</td>
              <td v-if="$store.getters.role.special == 'all-access'">
                {{ item.user.login }}
              </td>
              <td width="120">
                <v-tooltip top v-if="can(security.sunatInvoicesVoucher)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="orange"
                      v-bind="attrs"
                      v-on="on"
                      @click="print(item.id)"
                    >
                      mdi-printer
                    </v-icon>
                  </template>
                  <span>Imprimir</span>
                </v-tooltip>
                <v-tooltip
                  top
                  v-if="can(security.sunatInvoicesDelete)"
                >
                  <template v-slot:activator="{ on, attrs }" v-if="item.cancel">
                    <v-icon v-if="!item.cancel.id"
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-backspace-reverse
                    </v-icon>
                  </template>
                  <template v-slot:activator="{ on, attrs }" v-else>
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-backspace-reverse
                    </v-icon>
                  </template>
                  <span>Dar de Baja</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <div class="text-center" v-else>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.sunatInvoiceCancel)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="restore"
        ref="save"
      />

      <v-dialog persistent v-model="msg" max-width="500px">
        <!--<v-card>-->
        <v-card dark>
          <v-card-title class="headline justify-center"> Mensaje</v-card-title>
          <v-card-text class="text-center"
            >No se puede dar de baja a un documento electrónico con una
            antiguedad mayor a 7 dias
            <br />
            <br />
            <v-btn color="red" @click="msg = false">Aceptar</v-btn>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
  },
  data: (vm) => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    msg: false,
    setTimeoutSearch: "",
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -7).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -7).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: true,
    edit: false,
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar los documentos electronicos entre fechas
     */
    async listAll(page = 1) {
      let search = {
        beginDate: this.beginDate,
        endDate: this.endDate,
        find: this.search,
      };
      //this.hasData = false;
      let res = await axios.get("/sunatinvoice?page=" + page, {
        params: search,
      });
      this.list = res.data;
      this.load = false;
      //this.hasData = true;
    },

    /**
     * Buscar documentos electronicos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     * actualizar la lista
     */
    updateList() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.listAll();
        }
      });
    },
    /**
     * Abrir dialog para dar de baja a un documento electrónico
     */
    showItem(item) {
      this.item = item;
      this.item.date = this.formatDate(item.date);
      this.item.documentNumber =
        item.type.charAt(0) + item.serie + "-" + item.correlative;
      this.item.cancel = {
        dateFormat: this.formatDate(new Date().toISOString().substr(0, 10)),
        date: new Date(),
        reason: "",
      };
      if (this.addDays(new Date(), -7) > new Date(this.parseDate(item.date))) {
        this.msg = true;
      } else {
        this.saveTitle = "Comunicación de Baja";
        this.save = true;
      }
    },

    /**
     * Cargar documento electronico del servidor
     *
     * @param {object} data - docuemento electronico seleccionado
     */
    async restore(data) {
      this.save = false;
      let res = await axios.get(`/sunatinvoice/${data.id}`, data);
      if (res.status === 200) {
        let item = this.list.data.find((e) => e.id == data.id);
        item.date = res.data.sunatInvoice.date;
        item.type = res.data.sunatInvoice.type;
        item.serie = res.data.sunatInvoice.serie;
        item.correlative = res.data.sunatInvoice.correlative;
        item.state = res.data.sunatInvoice.state;
        item.cancel = res.data.sunatInvoice.cancel
          ? res.data.sunatInvoice.cancel
          : {};
      }
    },

    /**
     * generar pdf
     */
    print(id) {
      let route = this.$router.resolve({ path: `voucher/${id}` });
      window.open(route.href, "_blank");
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>