<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save" autocomplete="off">
            <!--Cliente-->
            <v-row align="center" class="top-form" v-if="item.client">
              <v-flex cols="12" xs4>
                <v-text-field
                  v-model="item.client.documentNumber"
                  label="N° Documento"
                  prepend-icon="mdi-credit-card"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex cols="12" xs8>
                <v-text-field
                  v-model="item.client.fullName"
                  label="Cliente"
                  prepend-icon="mdi-credit-card"
                  readonly
                ></v-text-field>
              </v-flex>
            </v-row>
            <!--Documento Electronico-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs6>
                <v-text-field
                  v-model="item.type"
                  label="Tipo"
                  prepend-icon="mdi-credit-card"
                  readonly
                ></v-text-field>
              </v-flex>
              <v-flex cols="12" xs6>
                <v-text-field
                  v-model="item.date"
                  label="Fecha"
                  prepend-icon="mdi-credit-card"
                  readonly
                ></v-text-field>
              </v-flex>
            </v-row>
            <!--Numero docuento-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <v-text-field
                  v-model="item.documentNumber"
                  label="Número de Documento"
                  prepend-icon="mdi-account"
                  readonly
                ></v-text-field>
              </v-flex>
            </v-row>
            <!--date-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha"
                  rules="required"
                >
                  <v-text-field
                    v-model="item.cancel.dateFormat"
                    :error-messages="errors"
                    label="Fecha de Comunicación"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--razon-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Motivo"
                  rules="required"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="item.cancel.reason"
                    prepend-icon="mdi-account"
                    :items="[
                      'Error en descripción',
                      'Error en moneda',
                      'Error en fecha',
                      'Error en RUC o razsocial',
                      'Error en DNI o Nombre',
                      'Error en dirección',
                      'Error en cálculo de importes',
                      'Otros',
                    ]"
                    label="Motivo"
                    dense
                  ></v-select>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
    <Generate :dialog="loading" :item="item" @close="close" ref="generate" />
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
import Generate from "./Generate";
export default {
  components: {
    Generate,
  },
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    sunatInvoice: true,
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del cliente seleccionado en la lista principal
     */
    close() {
      this.$emit("close", this.item);
      this.$refs.observer.reset();
    },
    /**
     * Dar comunicacion de baja
     * Permite guardar la comunicacion de baja
     *
     * @emit added - para agregar la comunicacion e baja
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        await this.checkSunatInvoice();
        try {
          if (this.item.id) {
            if (this.sunatInvoice) {
              res = await axios.put(`/sunatinvoice/${this.item.id}`, this.item);
              if (res.status === 200) {
                this.loading = false;
                this.close();
                this.showAlert({
                  color: "success",
                  text: res.data.message,
                });
                this.srcImg = "";
              }
            }else{
              this.loading=false;
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        "Tipo de Documento": error.documentType,
        "Número de Documento": error.documentNumber,
        Telefono: error.phone,
        Dirección: error.address,
        Email: error.email,
        Foto: error.photo,
      });
    },
    /**
     * Verificar facturador de sunat
     * Verificar si esta iniciado el facturador de sunat
     *
     */
    async checkSunatInvoice() {
      let res = await axios.get("/checksunatinvoice");
      if (this.item.type == "Boleta" || this.item.type == "Factura") {
        if (!res.data.state) {
          this.showAlert({
            color: "error",
            text: "Si va a generar una Comunicación de Baja INICIE EL FACTURADOR DE SUNAT.",
          });
        }
        this.sunatInvoice = res.data.state;
      } else {
        this.sunatInvoice = true;
      }
    },
  },
};
</script>