<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark>
      <v-card-title class="headline justify-center"> Eliminar Cliente</v-card-title>
      <v-card-text class="text-center"
        >¿Desea eliminar el cliente <strong>{{item.documentNumber+": "}}{{ item.firstName }} {{item.lastName}}</strong
        >?</v-card-text
      >
      <v-card-actions class="justify-center">
        <v-btn
          color="error"
          @click="deleteItem"
          :loading="loading"
          :disabled="loading"
        >
          Si
        </v-btn>
        <v-btn
          color="primary"
          @click="close"
          :loading="loading"
          :disabled="loading"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["item","dialog"],
  data: () => ({
    loading: false,
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     * cerrar el dialog
     * @emit close - permite cerrar el dialog
    */
    close() {
      this.$emit("close");
    },
    /**
     * Eliminar usuario
     * 
     * @emit deleted - permite generar el evento para eliminar elemento de la lista principal
    */
    async deleteItem() {
      this.loading=true
      try{
        let res = await axios
        .delete(`/client/${this.item.id}`, this.item)
          if (res.status === 200) {
            this.loading=false
            this.close();
            this.$emit("deleted", res.data);
            this.showAlert({
              color: "success",
              text: res.data.message,
            });
          }
      } catch (error) {
        this.loading = false;
      }
    },
  },
};
</script>