<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <br />
        <validation-observer ref="observer">
           <form @submit.prevent="save" autocomplete="off">
            <!--Tipo de documento-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Tipo de Documento"
                  rules="required|oneOf:RUC,DNI,Otro"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="item.documentType"
                    prepend-icon="mdi-account"
                    :items="['DNI', 'RUC', 'Otro']"
                    label="Tipo de Documento"
                    dense
                    @change="showLastName"
                  ></v-select>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Apellidos-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Apellidos"
                  rules="required|max:100"
                  v-if="!isRuc"
                >
                  <v-text-field
                    v-model="item.lastName"
                    :error-messages="errors"
                    :counter="100"
                    label="Apellidos del Cliente"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Nombres-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombres"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.firstName"
                    :error-messages="errors"
                    :counter="100"
                    :label="clientName"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Numero docuento-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Número de Documento"
                  rules="required|numeric|max:11"
                >
                  <v-text-field
                    v-model="item.documentNumber"
                    :error-messages="errors"
                    :counter="11"
                    label="Número de Documento"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Telefono-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Telefono"
                  rules="numeric|max:15"
                >
                  <v-text-field
                    v-model="item.phone"
                    :error-messages="errors"
                    :counter="15"
                    label="Telefono del Cliente"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Direccion-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Dirección"
                  rules="max:100"
                >
                  <v-text-field
                    v-model="item.address"
                    :error-messages="errors"
                    :counter="100"
                    label="Direción de Cliente"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Correo electronico-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Email"
                  rules="email|max:255"
                >
                  <v-text-field
                    v-model="item.email"
                    :error-messages="errors"
                    label="Correo Electónico"
                    prepend-icon="mdi-account"
                    :counter="255"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />
            <!--<validation-provider
              v-slot="{ errors }"
              name="Foto"
              rules="image"
              v-if="!item.id"
            >
              <v-file-input
                :error-messages="errors"
                v-model="item.photo"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Seleccionar imagen"
                prepend-icon="mdi-camera"
                label="Imagen"
                @change="getImg"
              ></v-file-input>
            </validation-provider>
            <div v-if="srcImg" class="text-center">
              <v-avatar
                class="profile"
                align="center"
                color="grey"
                size="164"
                tile
              >
                <v-img :src="srcImg"></v-img>
              </v-avatar>
            </div>
            <br />-->
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    clientName: "Nombres del Cliente",
    isRuc: false,
    srcImg: "",
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del cliente seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar cliente
     * Permite guardar el cliente ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el cliente creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(`/client/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          } else {
            let formData = new FormData();
            formData.append("id", this.item.id);
            formData.append("personType", this.item.personType);
            formData.append("documentType", this.item.documentType);
            formData.append("lastName", this.item.lastName);
            formData.append("firstName", this.item.firstName);
            formData.append("documentNumber", this.item.documentNumber);
            formData.append("address", this.item.address);
            formData.append("phone", this.item.phone);
            if (this.item.photo) {
              formData.append("photo", this.item.photo);
            }
            if (this.item.email) {
              formData.append("email", this.item.email);
            }
            res = await axios.post("/client", formData);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
              this.srcImg = "";
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        "Tipo de Documento": error.documentType,
        "Número de Documento": error.documentNumber,
        Telefono: error.phone,
        Dirección: error.address,
        Email: error.email,
        Foto: error.photo,
      });
    },
    /**
     * Mostrar el label de nombre del cliente
     */
    showLastName() {
      if (this.item.documentType == "RUC") {
        this.clientName = "Razón Social";
        this.isRuc = true;
      } else {
        this.clientName = "Nombres del Cliente";
        this.isRuc = false;
      }
    },

    /**
     * Mostrar imagen cargada
     *
     * @param {event} evento que se genera al seleccionar la imagen
     */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
  },
};
</script>