<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark v-if="item.sunat_invoice">
      <v-card-title class="headline justify-center">
        Generando y enviando {{ item.sunat_invoice.type }}</v-card-title
      >
      <v-card-text v-if="item.sunat_invoice.client" class="text-center"
        >Se esta generando la
        <strong v-if="item.sunat_invoice.serie"
          >{{ item.sunat_invoice.type + ": "
          }}{{ item.sunat_invoice.serie + "-" + item.sunat_invoice.correlative }}</strong
        ><br />
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["item", "dialog"],
  data: () => ({
    loading: false,
  }),
};
</script>