<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-currency-usd</v-icon> Administrar Ventas
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-credit-card</v-icon> Boletas y Facturas
        Electrónicas
      </h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm5 md7> </v-flex>
          <v-flex fluid outlined xs10 sm5 md4>
            <v-text-field
              label="Buscar..."
              hide-details
              prepend-icon="mdi-magnify"
              color="black"
              v-model="search"
              @keyup.enter="listAll"
              @keyup="searchData"
            >
            </v-text-field>
          </v-flex>
          <v-flex fluid outlined xs2 sm2 md1
            ><v-checkbox
              v-model="remark"
              label="Obs."
              @change="searchData"
            ></v-checkbox>
          </v-flex>
        </v-row>
      </validation-observer>
      <br />
      <v-simple-table v-if="hasData && !edit">
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Cliente
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Documento
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Estado
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Observación
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>
                <div v-if="item.sunat_invoice">
                  <b
                    >{{ item.sunat_invoice.client.documentType }} -
                    {{ item.sunat_invoice.client.documentNumber }}: </b
                  >{{ item.sunat_invoice.client.firstName }}
                  {{ item.sunat_invoice.client.lastName }}
                </div>
              </td>
              <td>
                <b>
                  {{ item.NUM_DOCU }}
                </b>
              </td>
              <td>
                <b>Generación: </b><br />
                {{ item.FEC_GENE }}<br />
                <b>Envío: </b><br />
                {{ item.FEC_ENVI }}
              </td>
              <td>{{ item.state }}</td>
              <td>{{ item.DES_OBSE }}</td>
              <td width="120">
                <v-tooltip top v-if="can(security.sunatinvoicesVoucher)">
                  <template
                    v-slot:activator="{ on, attrs }"
                    v-if="item.sunat_invoice"
                  >
                    <v-icon
                      color="orange"
                      v-bind="attrs"
                      v-on="on"
                      @click="print(item.sunat_invoice.sale.id)"
                    >
                      mdi-printer
                    </v-icon>
                  </template>
                  <span>Imprimir</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.sunatinvoicesResend)">
                  <template
                    v-slot:activator="{ on, attrs }"
                    v-if="item.DES_OBSE != '-'"
                  >
                    <v-icon
                      color="blue"
                      v-bind="attrs"
                      v-on="on"
                      @click="resend(item)"
                    >
                      mdi-clipboard-arrow-right
                    </v-icon>
                  </template>
                  <span>Volver a Enviar a Sunat</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <div class="text-center" v-else>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Generate :dialog="loading" :item="item" ref="generate" />
    </div>
  </div>
</template>

<script>
import Generate from "./Generate";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Generate,
  },
  data: (vm) => ({
    loading: false,
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    setTimeoutSearch: "",
    hasData: true,
    edit: false,
    remark: false,
    sunatInvoice: true,
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar los documentos electronicos entre fechas
     */
    async listAll(page = 1) {
      let search = {
        find: this.search,
        remark: this.remark,
      };
      //this.hasData = false;
      let res = await axios.get("/sunatinvoice?page=" + page, {
        params: search,
      });
      this.list = res.data;
      this.load = false;
      //this.hasData = true;
    },

    /**
     * Buscar documentos electronicos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     * actualizar la lista
     */
    updateList() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        this.listAll();
      });
    },
    /**
     * Abrir dialog para enviar un documento electrónico
     */
    showItem(item) {
      this.item = item;
      this.item.date = this.formatDate(item.date);
    },
    /**
     * Dar comunicacion de baja
     * Permite guardar la comunicacion de baja
     *
     * @emit added - para agregar la comunicacion e baja
     */
    async resend(item) {
      try {
        this.item = item;
        this.loading = true;
        if (this.item.sunat_invoice) {
          if (
            this.item.sunat_invoice.type == "Boleta" ||
            this.item.sunat_invoice.type == "Factura"
          ) {
            await this.checkSunatInvoice();
          }
          if (this.item.sunat_invoice && this.sunatInvoice) {
            let res = await axios.put(
              `/sunatinvoice/${this.item.sunat_invoice.id}`,
              this.item.sunat_invoice
            );
            if (res.status === 200) {
              console.log(res.data);
              if (res.data.send == "yes") {
                this.loading = false;
                this.showAlert({
                  color: "success",
                  text: res.data.message,
                });
                this.item.FEC_GENE = res.data.condition.FEC_GENE;
                this.item.FEC_ENVI = res.data.condition.FEC_ENVI;
                this.item.state = res.data.condition.state;
                this.item.DES_OBSE = res.data.condition.DES_OBSE;
                this.sunat_invoice = res.data.condition.sunat_invoice;
              } else {
                this.loading = false;
                this.showAlert({
                  color: "error",
                  text: res.data.message,
                  timeout: 5000

                });
              }
            }
          }
          else{
            this.loading=false;
          }
        }else{
          this.loading=false;
        }
      } catch (error) {
        this.loading = false;
        if (error.response.data.errors) {
          this.setErrors(error.response.data.errors);
        }
      }
    },

    /**
     * Cargar documento electronico del servidor
     *
     * @param {object} data - docuemento electronico seleccionado
     */
    async restore(data) {
      this.save = false;
      let res = await axios.get(`/sunatinvoice/${data.id}`, data);
      if (res.status === 200) {
        let item = this.list.data.find((e) => e.id == data.id);
        item.date = res.data.sunatInvoice.date;
        item.type = res.data.sunatInvoice.type;
        item.serie = res.data.sunatInvoice.serie;
        item.correlative = res.data.sunatInvoice.correlative;
        item.state = res.data.sunatInvoice.state;
        item.cancel = res.data.sunatInvoice.cancel
          ? res.data.sunatInvoice.cancel
          : {};
      }
    },

    /**
     * generar pdf
     */
    print(id) {
      let route = this.$router.resolve({ path: `voucher/${id}` });
      window.open(route.href, "_blank");
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Verificar facturador de sunat
     * Verificar si esta iniciado el facturador de sunat
     *
     */
    async checkSunatInvoice() {
      let res = await axios.get("/checksunatinvoice");
      if (
        this.item.sunat_invoice.type == "Boleta" ||
        this.item.sunat_invoice.type == "Factura"
      ) {
        if (!res.data.state) {
          this.showAlert({
            color: "error",
            text: "Si va a generar una Boleta o Factura INICIE EL FACTURADOR DE SUNAT.",
          });
        }
        this.sunatInvoice = res.data.state;
      }else{
        this.sunatInvoice=true;
      }
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>