<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-security</v-icon> Seguridad
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-account-lock</v-icon> Roles
      </h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.rolesCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Rol</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Nombre
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Descripción
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Permisos Especiales
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td v-if="item.special == 'nothing'"></td>
              <td v-else>{{ item.special }}</td>
              <td width="120">
                <v-tooltip
                  top
                  v-if="
                    can(security.rolesPermission) && item.special == 'nothing'
                  "
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="black"
                      v-bind="attrs"
                      v-on="on"
                      @click="savePermissions(item)"
                    >
                      mdi-shield-account
                    </v-icon>
                  </template>
                  <span>Permisos</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.rolesUpdate) && item.name!=$adminRole">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.rolesDelete) && item.name!=$adminRole">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.rolesCreate) || can(security.rolesUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.rolesDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
      <Permissions
        v-if="can(security.rolesPermission)"
        :item="item"
        :dialog="permission"
        @close="permission = false"
        @save="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import Permissions from "./Permissions";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
    Permissions,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    permission: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los roles
     */
    async listAll(page = 1) {
      let res = await axios.get("/role?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },
    /**
     * Buscar roles al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },
    /**
     *  Abrir dialog para crear un rol
     */
    open() {
      this.item = {
        name: "",
        description: "",
        special: "nothing",
      };
      this.saveTitle = "Crear Nuevo Rol";
      this.save = true;
    },
    /**
     * Abrir dialog para editar rol
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Rol";
      this.save = true;
    },
    /**
     * Agregar item a la lista de roles
     *
     * @param {object} data - rol agregado
     */
    add(data) {
      this.list.data.unshift(data.role);
      this.item = data.role;
      if (this.item.special == "nothing") {
        this.permission = true;
      } else {
        this.showAlert({
          color: "success",
          text: data.message,
        });
      }
    },
    /**
     * Cargar rol del servidor
     *
     * @param {object} data - rol seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/role/${data.id}`, data);
      if (res.status === 200) {
        this.item.name = res.data.role.name;
        this.item.description = res.data.role.description;
        this.item.special = res.data.role.special;
        this.item.permissions = res.data.role.permissions;
      }
    },
    /**
     * Abrir dialog para eliminar rol
     *
     * @param {object} item - rol a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de roles
     *
     * @param {object} data - rol a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Abrir dialog para guardar permisos
     */
    savePermissions(item) {
      this.item = item;
      this.permission = true;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>