<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-briefcase-plus</v-icon> Administrar Compras
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-basket-plus</v-icon> Compras
      </h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm12 md4>
            <v-tooltip top v-if="can(security.buysCreate)">
              <template v-slot:activator="{ on, attrs }">
                <br />
                <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                  <v-icon left>mdi-plus-box</v-icon>
                  <span>Nuevo</span>
                </v-btn>
              </template>
              <span>Agregar una Nueva Compra</span>
            </v-tooltip>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm12 md4>
            <v-text-field
              label="Buscar..."
              hide-details
              prepend-icon="mdi-magnify"
              color="black"
              v-model="search"
              @keyup.enter="listAll"
              @keyup="searchData"
            >
            </v-text-field>
          </v-flex>
        </v-row>
      </validation-observer>
      <br />
      <v-simple-table v-if="hasData && !edit">
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Proveedor
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Documento
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Detalle
              </th>
              <th
                v-if="$store.getters.role.special == 'all-access'"
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Usuario
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>
                <b
                  >{{ item.supplier.documentType }} -
                  {{ item.supplier.documentNumber }}: </b
                >{{ item.supplier.firstName }} {{ item.supplier.lastName }}
              </td>
              <td width="80">{{ item.date | moment("DD/MM/YYYY") }}</td>
              <td>
                {{ item.type + ": " }}{{ item.serie + "-"
                }}{{ item.correlative }}
              </td>
              <td>{{ item.detail }}</td>
              <td v-if="$store.getters.role.special == 'all-access'">
                {{ item.user.login }}
              </td>
              <td width="80">
                <v-tooltip top v-if="can(security.buysUpdate)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.buysDelete)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <div class="text-center" v-else>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.buysCreate) || can(security.buysUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.buysDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
        @edited="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: (vm) => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -7).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -7).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: true,
    edit: false,
  }),
  computed: {
    ...mapGetters(["security", "can", "personDefault"]),
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar las compras entre fechas
     */
    async listAll(page = 1) {
      let search = {
        beginDate: this.beginDate,
        endDate: this.endDate,
        find: this.search,
      };
      //this.hasData = false;
      let res = await axios.get("/buy?page=" + page, {
        params: search,
      });
      this.list = res.data;
      this.load = false;
      //this.hasData = true;
    },
    /**
     * Buscar compras al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },
    /**
     * actualizar las compras
     */
    updateList() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.listAll();
        }
      });
    },
    /**
     *  Abrir dialog para crear una compra
     */
    open() {
      this.item = {
        //supplier: this.personDefault,
        supplier: { documentNumber:"",firstName: "", lastName: "" },
        date: new Date().toISOString().substr(0, 10),
        type: "Boleta",
        serie: "",
        correlative: "",
        detail: "",
        buy_details: [],
      };
      this.saveTitle = "Crear Nueva Compra";
      this.save = true;
    },
    /**
     * Abrir dialog para editar compra
     */
    async showItem(item) {
      this.edit = true;
      let res = await axios.get(`/buy/${item.id}`, item);
      this.item = res.data.buy;
      this.saveTitle = "Editar Compra";
      this.save = true;
      this.edit = false;
    },
    /**
     * Agregar item a la lista de compras
     *
     * @param {object} data - compra agregada
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.buy);
    },
    /**
     * Cargar compra del servidor
     *
     * @param {object} data - compra seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/buy/${data.id}`, data);
      if (res.status === 200) {
        let item = this.list.data.find((e) => e.id == data.id);
        item.date = res.data.buy.date;
        item.type = res.data.buy.type;
        item.serie = res.data.buy.serie;
        item.correlative = res.data.buy.correlative;
        item.detail = res.data.buy.detail;
        item.supplier = res.data.buy.supplier;
      }
      //this.listAll();
    },
    /**
     * Abrir dialog para eliminar compra
     *
     * @param {object} item - compra a ser eliminada
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de compras
     *
     * @param {object} data - compra a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>