<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card>
      <v-toolbar dark color="black">
        <v-btn icon dark @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title
          >{{ title }}:
          <strong v-if="item.supplier"
            >{{ item.supplier.firstName }} {{ item.supplier.lastName }}</strong
          >
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark text @click="save" :loading="loading" :disabled="loading"
            ><v-icon>mdi-content-save-outline</v-icon> Guardar
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <br />
      <v-card-text>
        <v-container>
          <form @submit.prevent="save" autocomplete="off">
            <validation-observer ref="observer">
              <v-row>
                <v-col class="separate" cols="12" xs="12" sm="5" md="3">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Numero de Documento"
                    rules="required"
                  >
                    <v-combobox
                      ref="documentNumber"
                      :error-messages="errors"
                      :counter="11"
                      v-model="item.supplier"
                      prepend-icon="mdi-basket-plus"
                      :items="suppliers"
                      item-text="documentNumber"
                      label="Número de Documento"
                      return-object
                      @change="getSupplier"
                    >
                    </v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="7" md="9">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Proveedor"
                    rules="required"
                  >
                    <v-text-field
                      v-model="item.supplier.fullName"
                      :error-messages="errors"
                      label="Proveedor"
                      prepend-icon="mdi-cart"
                      readonly
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="separate" cols="12" xs="12" sm="6" md="3">
                  <v-menu
                    ref="mDate"
                    v-model="mDate"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <validation-provider
                        v-slot="{ errors }"
                        name="Fecha de Compra"
                        rules="required"
                      >
                        <v-text-field
                          v-model="dateFormatted"
                          :error-messages="errors"
                          :counter="10"
                          label="Fecha de Compra"
                          hint="Formato DD/MM/YYYY"
                          readonly
                          prepend-icon="mdi-basket-plus"
                          v-bind="attrs"
                          @blur="date = parseDate(dateFormatted)"
                          v-on="on"
                        ></v-text-field>
                      </validation-provider>
                    </template>
                    <v-date-picker
                      ref="picker"
                      v-model="date"
                      :max="new Date().toISOString().substr(0, 10)"
                      min="1900-01-01"
                      no-title
                      @input="mDate = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="6" md="4">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Tipo"
                    rules="required|max:50"
                  >
                    <v-combobox
                      v-model="item.type"
                      :error-messages="errors"
                      :counter="50"
                      :items="['Boleta', 'Factura', 'Otro']"
                      label="Tipo Comprobante"
                      prepend-icon="mdi-basket-plus"
                    ></v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="5" sm="4" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Serie"
                    :rules="{
                      required: true,
                      regex: /^[A-Z]\d{1,3}$|^\d{1,4}$/,
                    }"
                  >
                    <v-text-field
                      v-model="item.serie"
                      :error-messages="errors"
                      :counter="4"
                      label="Serie Comprobante"
                      prepend-icon="mdi-basket-plus"
                      suffix="-"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="7" sm="8" md="3">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Correlativo"
                    rules="required|numeric|max:8"
                  >
                    <v-text-field
                      v-model="item.correlative"
                      :error-messages="errors"
                      :counter="8"
                      label="Correlativo Comprobante"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
            </validation-observer>
            <hr />
            <validation-observer ref="detail">
              <v-row>
                <v-col class="separate" cols="12" xs="12" sm="12" md="7">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Product"
                    rules="required"
                  >
                    <v-autocomplete
                      hide-selected
                      no-filter
                      prepend-icon="mdi-basket-plus"
                      :error-messages="errors"
                      v-model="presentation_product"
                      :items="products"
                      :search-input.sync="findProduct"
                      label="Seleccionar Producto"
                      @change="setPrice"
                      @keyup="searchData"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeItem(data.item)"
                        >
                          <v-avatar left>
                            <v-img :src="data.item.product.picture"></v-img>
                          </v-avatar>
                          <div
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                          >
                            {{
                              data.item.product.name +
                              " " +
                              data.item.quantity +
                              " " +
                              unit.name
                            }}
                          </div>
                          <div v-else>
                            {{
                              data.item.product.name +
                              " " +
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              ")"
                            }}
                          </div>
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <v-list-item-avatar>
                          <img :src="data.item.product.picture" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.product.name"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                            v-html="
                              data.item.quantity +
                              ' ' +
                              unit.name +
                              ': S/. ' +
                              data.item.buyPrice
                            "
                          ></v-list-item-subtitle>
                          <v-list-item-subtitle v-else>
                            {{
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              "): S/. " +
                              data.item.buyPrice
                            }}
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            Stock:{{
                              Math.round(
                                (data.item.product.stock / data.item.quantity) *
                                  100
                              ) / 100
                            }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </validation-provider>
                </v-col>
                <v-col class="d-flex separate" cols="12" xs="12" sm="5" md="3">
                  <!--<v-col class="separate" cols="6" xs="12" sm="5" md="5">-->
                  <validation-provider
                    v-slot="{ errors }"
                    name="Precio"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="price"
                      :error-messages="errors"
                      label="Precio"
                      prepend-icon="mdi-basket-plus"
                    ></v-text-field>
                  </validation-provider>
                  <!--</v-col>-->
                  <!--<v-col class="separate" cols="6" xs="5" sm="5" md="5">-->
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cantidad"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="quantity"
                      :error-messages="errors"
                      label="Cabtidad"
                      prepend-icon="mdi-basket-plus"
                    ></v-text-field>
                  </validation-provider>
                  <!--</v-col>-->
                </v-col>
                <v-col class="d-flex separate" cols="12" xs="12" sm="6" md="2">
                  <v-menu
                    ref="mDueDate"
                    v-model="mDueDate"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <validation-provider
                        v-slot="{ errors }"
                        name="Fecha de Vencimiento"
                        rules="required"
                      >
                        <v-text-field
                          v-model="dueDateFormatted"
                          :error-messages="errors"
                          :counter="10"
                          label="Fecha Vencimiento"
                          hint="Formato DD/MM/YYYY"
                          prepend-icon="mdi-basket-plus"
                          v-bind="attrs"
                          @blur="dueDate = parseDate(dueDateFormatted)"
                          v-on="on"
                        ></v-text-field>
                      </validation-provider>
                    </template>
                    <v-date-picker
                      ref="picker"
                      v-model="dueDate"
                      :min="new Date().toISOString().substr(0, 10)"
                      no-title
                      @input="mDueDate = false"
                    ></v-date-picker>
                  </v-menu>
                  <v-tooltip top v-if="can(security.buysCreateDetail)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="btn-buy"
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="success"
                        :loading="loading"
                        :disabled="loading"
                        @click="addProduct"
                      >
                        <v-icon>mdi-clipboard-plus-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Guardar Producto</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </validation-observer>
            <div class="text-center"></div>
          </form>

          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    width="30"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Item
                  </th>
                  <th
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Producto
                  </th>
                  <th
                    width="120"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    P. Unitario
                  </th>
                  <th
                    width="120"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    Cantidad
                  </th>
                  <th
                    width="120"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    F. Venc.
                  </th>
                  <th
                    width="120"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  >
                    SubTotal
                  </th>
                  <th
                    width="10"
                    class="text-left orange--text subtitle-1 font-weight-bold"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="detail in item.buy_details" :key="detail.id">
                  <td>
                    {{ detail.number }}
                  </td>
                  <td
                    v-if="
                      detail.presentation_product.presentation.name ==
                      $singlePresentation
                    "
                  >
                    {{ detail.presentation_product.product.name }}
                    {{ unit.name }}
                  </td>
                  <td v-else>
                    {{ detail.presentation_product.product.name }}
                    {{ detail.presentation_product.presentation.name + "(" }}
                    {{ detail.presentation_product.quantity }}
                    {{ unit.plural + ")" }}
                  </td>
                  <td>{{ detail.price }}</td>
                  <td>
                    {{ detail.quantity }}
                  </td>
                  <td>
                    {{ formatDate(detail.dueDate) }}
                  </td>
                  <td>{{ detail.price * detail.quantity }}</td>
                  <td>
                    <v-tooltip
                      top
                      v-if="!detail.hasSale && can(security.buysDeleteDetail)"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          color="error"
                          v-bind="attrs"
                          v-on="on"
                          @click="removeProduct(detail)"
                        >
                          mdi-trash-can
                        </v-icon>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <br />
          <hr />
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="12">
              <p class="text-end subtitle-1">
                Total = S/. {{ Math.round(total * 100) / 100 }}
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="separate" cols="12" xs="12" sm="12" md="12">
              <validation-provider v-slot="{ errors }" name="Detalle">
                <v-text-field
                  v-model="item.detail"
                  :error-messages="errors"
                  label="Detalle"
                ></v-text-field>
              </validation-provider>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>

    <v-dialog persistent v-model="frmSaveSupplierDialog" max-width="500px">
      <!--<v-card>-->
      <v-card dark>
        <v-card-title class="headline justify-center">
          Proveedor no Encontrado</v-card-title
        >
        <v-card-text class="text-center"
          >El número de documento no se pudo encontrar ¿Desea agregarlo a la
          base de datos?</v-card-text
        >
        <v-card-actions class="justify-center">
          <v-btn
            color="error"
            @click="saveSupplier"
            :loading="loading"
            :disabled="loading"
          >
            Si
          </v-btn>
          <v-btn
            color="primary"
            @click="frmSaveSupplierDialog = false"
            :loading="loading"
            :disabled="loading"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <SaveSupplier
      v-if="can(security.suppliersCreate) || can(security.suppliersUpdate)"
      :dialog="frmSupplier"
      :title="frmSupplierTitle"
      :item="supplierCreate"
      @close="frmSupplier = false"
      @added="addSupplier"
    />
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import SaveSupplier from "../supplier/Save";
export default {
  components: {
    SaveSupplier,
  },
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    suppliers: [],
    products: [],
    editDetails: [],
    presentation_product: null,
    price: "",
    quantity: "",
    mDate: false,
    dateFormatted: null,
    mDueDate: false,
    dueDateFormatted: null,
    dueDate: null,
    frmSupplier: false,
    frmSupplierTitle: "Crear Nuevo Proveedor",
    frmSaveSupplierDialog:false,
    supplierCreate: {},
    findProduct: "",
  }),
  computed: {
    ...mapGetters(["security", "can", "unit"]),
    date: {
      get: function () {
        return this.item.date;
      },
      set: function (value) {
        this.item.date = value;
      },
    },
    total() {
      let sum = 0;
      let item = 0;
      if (this.item.buy_details) {
        this.item.buy_details.forEach((element) => {
          element.number = ++item;
          sum += element.price * element.quantity;
        });
      }
      return sum;
    },
  },
  watch: {
    findProduct(val) {
      this.findProduct = val;
    },
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
    dueDate(val) {
      this.dueDateFormatted = this.formatDate(this.dueDate);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del proveedor seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.presentation_product = null;
      this.price = "";
      this.quantity = "";
      this.dueDate = null;
      this.editDetails = [];
      this.$refs.observer.reset();
      this.$refs.detail.reset();
      this.listProducts();
      this.listSuppliers();
    },
    /**
     * Guardar compra
     * Permite guardar la compra ya sea seleccionada o uno nueva
     *
     * @emit added - para agregar la compra creada en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        try {
          if (this.item.buy_details.length > 0) {
            this.loading = true;
            let res;
            if (this.item.id) {
              res = await axios.put(`/buy/${this.item.id}`, this.item);
              if (res.status === 200) {
                this.loading = false;
                this.close();
                this.showAlert({
                  color: "success",
                  text: res.data.message,
                });
              }
            } else {
              res = await axios.post("/buy", this.item);
              if (res.status === 200) {
                this.$emit("added", res.data);
                this.loading = false;
                this.close();
              }
            }
          } else {
            this.$refs.detail.setErrors({
              Product: "Debe de ingresar productos a la compra",
            });
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        "Fecha de Compra": error.date,
        Tipo: error.type,
        Serie: error.serie,
        Correlativo: error.correlative,
        Detalle: error.detail,
        "Fecha de Vencimiento": error.dueDate,
      });
    },

    /**
     * Aregar un proveedor a la lista de proveedores proveedor
     */
    addSupplier(data) {
      this.suppliers.unshift(data.supplier);
      this.item.supplier = data.supplier;
    },
    /**
     * obteer el valor del combobox numero de documento o en nombre del proveedor
     */
    async getSupplier() {
      if (!this.item.supplier.id) {
        let res;
        let supplier;
        let saveRes;
        if (this.item.supplier.length == 8) {
          res = await axios.get(
            `https://dniruc.apisperu.com/api/v1/dni/${this.item.supplier}?token=${this.$tokenDniRuc}`
          );
          if (res.data.nombres) {
            supplier = {
              personType: "supplier",
              lastName:
                res.data.apellidoPaterno + " " + res.data.apellidoMaterno,
              firstName: res.data.nombres,
              documentType: "DNI",
              documentNumber: res.data.dni,
              address: "",
              phone: "",
              picture: "",
            };
            saveRes = await axios.post("/supplier", supplier);
            this.item.supplier = saveRes.data.supplier;
          } else {
            this.supplierCreate = {
              personType: "supplier",
              lastName: "",
              firstName: "",
              documentType: "DNI",
              documentNumber: this.item.supplier,
              address: "",
              phone: "",
              picture: "",
            };
            this.frmSavesupplierDialog=true;
          }
        } else if ((this.item.supplier.length = 11)) {
          res = await axios.get(
            `https://dniruc.apisperu.com/api/v1/ruc/${this.item.supplier}?token=${this.$tokenDniRuc}`
          );
          if (res.data.razonSocial) {
            supplier = {
              personType: "supplier",
              lastName: "",
              firstName: res.data.razonSocial,
              documentType: "DNI",
              documentNumber: res.data.ruc,
              address: res.data.direccion,
              phone: "",
              picture: "",
            };
            await axios.post("/supplier", supplier);
            this.item.supplier = saveRes.data.supplier;
          } else {
            this.supplierCreate = {
              personType: "supplier",
              lastName: "",
              firstName: "",
              documentType: "RUC",
              documentNumber: this.item.supplier,
              address: "",
              phone: "",
              picture: "",
            };
            this.frmSavesupplierDialog=true;
          }
        } else {
          this.supplierCreate = {
            personType: "supplier",
            lastName: "",
            firstName: "",
            documentType: "Otro",
            documentNumber: this.item.supplier,
            address: "",
            phone: "",
            picture: "",
          };
          this.frmSavesupplierDialog=true;
        }
      }
    },

    /**
     * agregar proveedor si no existe
     */
    saveSupplier() {
      this.frmSupplier = true;
      this.frmSaveSupplierDialog=false;
    },

    /**
     * poner el precio y la cantidad del producto
     */
    setPrice() {
      this.price = "";
      this.quantity = "";
      if (this.presentation_product) {
        this.price = this.presentation_product.buyPrice;
        this.quantity = 1;
      }
    },

    /**
     * agregar producto a la compra
     */
    async addProduct() {
      let validateBuy = await this.$refs.observer.validate();
      if (validateBuy) {
        let validate = await this.$refs.detail.validate();
        if (validate) {
          this.loading = true;
          let detail = {
            presentation_product: this.presentation_product,
            price: this.price,
            quantity: this.quantity,
            dueDate: this.dueDate,
          };
          let res;
          this.item.buy_details.push(detail);
          this.showAlert({
            color: "success",
            text: "Producto agregado correctamente.",
          });
          this.loading = false;
          this.price = "";
          this.quantity = "";
          this.presentation_product = null;
          this.dueDate = null;
          this.$refs.observer.reset();
          this.$refs.detail.reset();
          this.findProduct = "";
          if (this.item.id) {
            detail.delete = false;
            this.editDetails;
          }
          this.listProducts();
          /*try {
            if (this.item.id) {
              res = await axios.post(`/buy/${this.item.id}/detail`, detail);
              if (res.status === 200) {
                this.item.buy_details.push(res.data.detail);
                this.loading = false;
                this.showAlert({
                  color: "success",
                  text: res.data.message,
                });
                this.listProducts();
              }
            } else {
              this.item.buy_details.push(detail);
              this.showAlert({
                color: "success",
                text: "Producto agregado correctamente.",
              });
              this.loading = false;
            }

            this.price = "";
            this.quantity = "";
            this.presentation_product = null;
            this.dueDate = null;
            this.$refs.observer.reset();
            this.$refs.detail.reset();
          } catch (error) {
            this.loading = false;
          }*/
        }
      }
    },
    /**
     * quitar producto a la compra
     */
    async removeProduct(detail) {
      /*if (this.item.id) {
        let res = await axios.delete(`/buy/${this.item.id}/detail`, {
          params: detail,
        });
        if (res.status === 200) {
          this.showAlert({
            color: "success",
            text: res.data.message,
          });
          this.item.buy_details.splice(
            this.item.buy_details.indexOf(detail),
            1
          );
          this.listProducts();
        }
      } else {*/
      this.item.buy_details.splice(this.item.buy_details.indexOf(detail), 1);
      this.showAlert({
        color: "success",
        text: "Producto eliminado correctamente.",
      });
      this.findProduct = "";
      if (this.item.id) {
        detail.delete = true;
        this.editDetails.push(detail);
      }
      this.listProducts();
      //}
    },
    /**
     * quitar producto seleccionado en el combobox
     */
    removeItem(item) {
      this.price = "";
      this.quantity = "";
      this.product = {};
      this.presentation_product = null;
      this.findProduct = "";
    },
    /**
     * Listar todos los proveedores
     */
    async listSuppliers() {
      let res = await axios.get("/suppliers");
      this.suppliers = res.data;
    },
    /**
     * Listar todos los productos
     */
    async listProducts() {
      let res = await axios.get("/product-presentation", {
        params: { quantity: 100, find: this.findProduct },
      });

      this.products = res.data;

      if (this.item.buy_details) {
        this.item.buy_details.forEach((detail) => {
          this.products.find((element) => {
            if (
              element.product.id == detail.presentation_product.product.id &&
              !detail.id
            ) {
              element.product.stock +=
                detail.quantity * detail.presentation_product.quantity;
            }
          });
        });
      }

      if (this.item.id && this.editDetails) {
        this.editDetails.forEach((detail) => {
          this.products.find((element) => {
            if (element.product.id == detail.presentation_product.product.id) {
              if (detail.delete) {
                element.product.stock -=
                  detail.quantity * detail.presentation_product.quantity;
              } else {
                element.product.stock +=
                  detail.quantity * detail.presentation_product.quantity;
              }
            }
          });
        });
      }
    },
    /**
     * Buscar productos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listProducts, 360);
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la variable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.listSuppliers();
    this.listProducts();
  },
};
</script>
<style scoped>
.separate {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-buy {
  margin-top: 15px;
}
</style>