<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-file-cog</v-icon> Sistema
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-label-multiple</v-icon> IGV
      </h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.igvsCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo IGV</span>
          </v-tooltip>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Porcentaje
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Periodo
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.percent }} %</td>
              <td>{{ item.beginDate | moment("DD/MM/YYYY") }} - {{ item.endDate | moment("DD/MM/YYYY") }}</td>
              <td width="80">
                <v-tooltip top v-if="can(security.igvsUpdate)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.igvsDelete)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="
          can(security.igvsCreate) || can(security.igvsUpdate)
        "
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.igvsDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar todos los igvs
     */
    async listAll(page = 1) {
      let res = await axios.get("/igv?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar igvs al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear un igv
     */
    open() {
      this.item = {
        percent: "",
        beginDate: new Date().toISOString().substr(0, 10),
        endDate:"9999-12-31"
      };
      this.saveTitle = "Crear Nuevo IGV";
      this.save = true;
    },
    /**
     * Abrir dialog para editar igv
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar IGV";
      this.save = true;
    },
    /**
     * Agregar item a la lista de igvs
     *
     * @param {object} data - igv agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.igv);
    },
    /**
     * Cargar igv del servidor
     *
     * @param {object} data - igv seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/igv/${data.id}`, data);
      if (res.status === 200) {
        this.item.percent = res.data.igv.percent;
        this.item.beginDate = res.data.igv.beginDate;
        this.item.endDate = res.data.igv.endDate;
      }
    },
    /**
     * Abrir dialog para eliminar igv
     *
     * @param {object} item - igv a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de igvs
     *
     * @param {object} data - igv a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>