<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Porcentaje-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Porcentaje"
                  :rules="{
                      required: true,
                      regex: /^[\d]{0,5}(\.[\d]{1,2})?$/,
                    }"
                >
                  <v-text-field
                    v-model="item.percent"
                    :error-messages="errors"
                    :counter="5"
                    label="Porcentaje"
                    prepend-icon="mdi-label-multiple"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Fechas-->
            <v-row align="center" class="top-form">
              <v-flex xs12 sm6>
                <v-menu
                  ref="mBeginDate"
                  v-model="mBeginDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Fecha Inicial"
                      rules="required"
                    >
                      <v-text-field
                        v-model="beginDateFormatted"
                        :error-messages="errors"
                        label="Fecha  Inicial"
                        hint="Formato DD/MM/YYYY"
                        readonly
                        v-bind="attrs"
                        @blur="beginDate = parseDate(beginDateFormatted)"
                        v-on="on"
                        prepend-icon="mdi-label-multiple"
                      ></v-text-field>
                    </validation-provider>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="beginDate"
                    :max="new Date().toISOString().substr(0, 10)"
                    no-title
                    @input="mBeginDate = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm6>
                <v-menu
                  ref="mEndDate"
                  v-model="mEndDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Fecha Final"
                      rules="required"
                    >
                      <v-text-field
                        v-model="endDateFormatted"
                        :error-messages="errors"
                        label="Fecha  Final"
                        hint="Formato DD/MM/YYYY"
                        readonly
                        v-bind="attrs"
                        @blur="endDate = parseDate(endDateFormatted)"
                        v-on="on"
                        prepend-icon="mdi-label-multiple"
                      ></v-text-field>
                    </validation-provider>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="endDate"
                    :max="new Date().toISOString().substr(0, 10)"
                    no-title
                    @input="mEndDate = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
            </v-row>
            <br />

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    mBeginDate: false,
    beginDateFormatted:null,
    mEndDate: false,
    endDateFormatted:null,
  }),
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  computed: {
    beginDate: {
      get: function () {
        return this.item.beginDate;
      },
      set: function (value) {
        this.item.beginDate = value;
      },
    },
    endDate: {
      get: function () {
        return this.item.endDate;
      },
      set: function (value) {
        this.item.endDate = value;
      },
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del IGV seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar IGV
     * Permite guardar el IGV ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el IGV creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(`/igv/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          } else {
            res = await axios.post("/igv", this.item);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        'Porcentajee': error.percent,
        'Fecha Inicail': error.beginDate,
        'Fecha Final': error.endDate
      });
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
};
</script>
<style scoped>
.separate {
  padding-bottom: 1rem;
  padding-top: 0.8rem;
}
</style>