<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-currency-usd</v-icon> Administrar Ventas
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-cart</v-icon> Ventas
      </h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm12 md4>
            <v-tooltip top v-if="can(security.salesCreate)">
              <template v-slot:activator="{ on, attrs }">
                <br />
                <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                  <v-icon left>mdi-plus-box</v-icon>
                  <span>Nuevo</span>
                </v-btn>
              </template>
              <span>Agregar una Nueva Venta</span>
            </v-tooltip>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="updateList"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm12 md4>
            <v-text-field
              label="Buscar..."
              hide-details
              prepend-icon="mdi-magnify"
              color="black"
              v-model="search"
              @keyup.enter="listAll"
              @keyup="searchData"
            >
            </v-text-field>
          </v-flex>
        </v-row>
      </validation-observer>
      <br />
      <v-simple-table v-if="hasData && !edit">
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Cliente
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Fecha
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Documento
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Detalle
              </th>
              <th
                v-if="$store.getters.role.special == 'all-access'"
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Usuario
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>
                <b
                  >{{ item.client.documentType }} -
                  {{ item.client.documentNumber }}: </b
                >{{ item.client.firstName }} {{ item.client.lastName }}
              </td>
              <td width="80">{{ item.date | moment("DD/MM/YYYY") }}</td>
              <td v-if="item.sunat_invoices[0]">
                {{ "Pedido: " }}{{ item.serie + "-"
                }}{{ item.correlative }} <br>
                <b v-for="invoice in item.sunat_invoices" :key="invoice.id">
                  {{ invoice.type + ": " }}{{ invoice.serie + "-"
                }}{{ invoice.correlative }}
                </b>
                
              </td>
              <td v-else>
                {{item.sunat_invoices[0]}}
                {{ "Pedido: " }}{{ item.serie + "-"
                }}{{ item.correlative }}
              </td>
              <td>{{ item.detail }}</td>
              <td v-if="$store.getters.role.special == 'all-access'">
                {{ item.user.login }}
              </td>
              <td width="120">
                <v-tooltip top v-if="can(security.salesVoucher)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="orange"
                      v-bind="attrs"
                      v-on="on"
                      @click="print(item.id)"
                    >
                      mdi-printer
                    </v-icon>
                  </template>
                  <span>Imprimir</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.salesUpdate) && !item.sunat_invoices[0]">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.salesDelete) && !item.sunat_invoices[0]">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <div class="text-center" v-else>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.salesCreate) || can(security.salesUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
        ref="save"
      />
      <Delete
        v-if="can(security.salesDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
        @edited="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: (vm) => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -7).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -7).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: true,
    edit: false,
  }),
  computed: {
    ...mapGetters(["security", "can", "personDefault", "defaultIgv"]),
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar las ventas entre fechas
     */
    async listAll(page = 1) {
      let search = {
        beginDate: this.beginDate,
        endDate: this.endDate,
        find: this.search,
      };
      //this.hasData = false;
      let res = await axios.get("/sale?page=" + page, { params: search });
      this.list = res.data;
      this.load = false;
      //this.hasData = true;
    },

    /**
     * Buscar compras al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     * actualizar las ventas
     */
    updateList() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.listAll();
        }
      });
    },
    /**
     *  Abrir dialog para crear una venta
     */
    open() {
      this.item = {
        client: this.personDefault,
        date: new Date().toISOString().substr(0, 10),
        type: "Ticket",
        serie: "",
        correlative: "",
        detail: "",
        typeIgv: "Gravado",
        sale_details: [],
      };
      this.getDocumentNumber();
      this.saveTitle = "Crear Nueva Venta";
      this.save = true;
      this.$refs.save.listProducts();
    },
    /**
     * Abrir dialog para editar venta
     */
    async showItem(item) {
      this.edit = true;
      let res = await axios.get(`/sale/${item.id}`, item);
      this.item = res.data.sale;
      this.saveTitle = "Editar Venta";
      this.item.sale_details.forEach((element) => {
        element.typeIgv = "Gravado";
        element.priceIgv =
          Math.round((element.price / (1 + this.defaultIgv)) * 100) / 100;
        element.amount =
          Math.round(
            ((element.price * element.quantity) / (1 + this.defaultIgv)) * 100
          ) / 100;
        element.igv =
          Math.round(
            element.price *
              element.quantity *
              (1 - 1 / (1 + this.defaultIgv)) *
              100
          ) / 100;
      });
      this.save = true;
      this.edit = false;
      this.$refs.save.listProducts();
      /*this.item = item;
      this.saveTitle = "Editar Venta";
      this.save = true;*/
    },
    /**
     * Agregar item a la lista de ventas
     *
     * @param {object} data - venta agregada
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.sale);
    },
    /**
     * Cargar venta del servidor
     *
     * @param {object} data - venta seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/sale/${data.id}`, data);
      if (res.status === 200) {
        let item = this.list.data.find((e) => e.id == data.id);
        item.date = res.data.sale.date;
        item.type = res.data.sale.type;
        item.serie = res.data.sale.serie;
        item.correlative = res.data.sale.correlative;
        item.detail = res.data.sale.detail;
        item.sale_details = res.data.sale.sale_details;
        item.sunat_invoices = res.data.sale.sunat_invoices;
      }
    },
    /**
     * Abrir dialog para eliminar venta
     *
     * @param {object} item - venta a ser eliminada
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de ventas
     *
     * @param {object} data - venta a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * obtener el numero de comprobante
     */
    getDocumentNumber() {
      axios
        .get("/generate-document-number", { params: { type: this.item.type } })
        .then((response) => {
          this.item.serie = response.data.serie;
          this.item.correlative = response.data.correlative;
        });
    },
    /**
     * generar pdf
     */
    print(id) {
      let route = this.$router.resolve({ path: `voucher/${id}` });
      window.open(route.href, "_blank");
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>