<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    persistent
  >
    <v-card>
      <v-toolbar dark color="black">
        <v-btn icon dark @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title
          >{{ title }}:
          <strong v-if="item.client"
            >{{ item.client.firstName }} {{ item.client.lastName }}</strong
          >
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark text @click="save" :loading="loading" :disabled="loading"
            ><v-icon>mdi-content-save-outline</v-icon> Guardar
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <br />
      <v-card-text>
        <v-container>
          <form @submit.prevent="save" autocomplete="off">
            <validation-observer ref="observer">
              <v-row v-if="item.type == 'Boleta' || item.type == 'Factura'">
                <v-col class="separate" cols="12" xs="12" sm="3" md="3">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Numero de Documento"
                    rules="required"
                  >
                    <v-combobox
                      ref="documentNumber"
                      :error-messages="errors"
                      :counter="11"
                      v-model="item.client"
                      prepend-icon="mdi-cart"
                      :items="clients"
                      item-text="documentNumber"
                      label="Número de Documento"
                      return-object
                      @change="getClient"
                    >
                    </v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="6" md="7">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cliente"
                    rules="required"
                  >
                    <v-text-field
                      v-model="item.client.fullName"
                      :error-messages="errors"
                      label="Cliente"
                      prepend-icon="mdi-cart"
                      readonly
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row v-else>
                <v-col class="separate" cols="12" xs="12" sm="5" md="3">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Numero de Documento"
                    rules="required"
                  >
                    <v-combobox
                      ref="documentNumber"
                      :error-messages="errors"
                      :counter="11"
                      v-model="item.client"
                      prepend-icon="mdi-cart"
                      :items="clients"
                      item-text="documentNumber"
                      label="Número de Documento"
                      return-object
                      @change="getClient"
                    >
                    </v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="7" md="9">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cliente"
                    rules="required"
                  >
                    <v-text-field
                      v-model="item.client.fullName"
                      :error-messages="errors"
                      label="Cliente"
                      prepend-icon="mdi-cart"
                      readonly
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="separate" cols="12" xs="12" sm="6" md="3">
                  <v-menu
                    ref="mDate"
                    v-model="mDate"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <validation-provider
                        v-slot="{ errors }"
                        name="Fecha de Venta"
                        rules="required"
                      >
                        <v-text-field
                          v-model="dateFormatted"
                          :error-messages="errors"
                          :counter="10"
                          label="Fecha de Venta"
                          hint="Formato DD/MM/YYYY"
                          readonly
                          prepend-icon="mdi-cart"
                          v-bind="attrs"
                          @blur="date = parseDate(dateFormatted)"
                          v-on="on"
                        ></v-text-field>
                      </validation-provider>
                    </template>
                    <v-date-picker
                      ref="picker"
                      v-model="date"
                      :max="new Date().toISOString().substr(0, 10)"
                      min="1900-01-01"
                      no-title
                      @input="mDate = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="6" md="4">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Tipo"
                    rules="required|max:50"
                  >
                    <v-combobox
                      v-model="item.type"
                      :error-messages="errors"
                      :counter="50"
                      :items="['Ticket', 'Boleta', 'Factura', 'Otro']"
                      label="Tipo Comprobante"
                      prepend-icon="mdi-cart"
                      @change="getDocumentNumber"
                    ></v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="5" sm="4" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Serie"
                    :rules="{
                      required: true,
                      regex: /^[A-Z]\d{1,3}$|^\d{1,4}$/,
                    }"
                  >
                    <v-text-field
                      v-model="item.serie"
                      :error-messages="errors"
                      :counter="3"
                      label="Serie Comprobante"
                      prepend-icon="mdi-cart"
                      suffix="-"
                      :prefix="typeDocument"
                      readonly
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="7" sm="8" md="3">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Correlativo"
                    rules="required|numeric|max:8"
                  >
                    <v-text-field
                      v-model="item.correlative"
                      :error-messages="errors"
                      :counter="8"
                      label="Correlativo Comprobante"
                      readonly
                    ></v-text-field>
                  </validation-provider>
                </v-col>
              </v-row>
            </validation-observer>
            <hr />
            <validation-observer ref="detail">
              <v-row v-if="item.type == 'Boleta' || item.type == 'Factura'">
                <v-col class="separate" cols="12" xs="12" sm="12" md="5">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Product"
                    rules="required"
                  >
                    <v-autocomplete
                      hide-selected
                      no-filter
                      prepend-icon="mdi-cart"
                      :error-messages="errors"
                      v-model="presentation_product"
                      :items="products"
                      :search-input.sync="findProduct"
                      label="Seleccionar Producto"
                      @change="setPrice"
                      @keyup="searchData"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeItem(data.item)"
                        >
                          <v-avatar left>
                            <v-img :src="data.item.product.picture"></v-img>
                          </v-avatar>
                          <div
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                          >
                            {{
                              data.item.product.name +
                              " " +
                              data.item.quantity +
                              " " +
                              unit.name
                            }}
                          </div>
                          <div v-else>
                            {{
                              data.item.product.name +
                              " " +
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              ")"
                            }}
                          </div>
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <v-list-item-avatar>
                          <img :src="data.item.product.picture" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.product.name"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                            v-html="
                              data.item.quantity +
                              ' ' +
                              unit.name +
                              ': S/. ' +
                              data.item.salePrice
                            "
                          ></v-list-item-subtitle>
                          <v-list-item-subtitle v-else>
                            {{
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              "): S/. " +
                              data.item.salePrice
                            }}
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            Stock:{{
                              Math.round(
                                (data.item.product.stock / data.item.quantity) *
                                  100
                              ) / 100
                            }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="4" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Precio"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="price"
                      :error-messages="errors"
                      label="Precio"
                      prepend-icon="mdi-cart"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="4" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cantidad"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="quantity"
                      :error-messages="errors"
                      label="Cabtidad"
                      prepend-icon="mdi-cart"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="5" sm="3" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Tipo"
                    rules="required|max:50"
                  >
                    <v-combobox
                      v-model="typeIgv"
                      :error-messages="errors"
                      :counter="50"
                      :items="['Gravado', 'Exonerado', 'Inafecto']"
                      label="Tipo IGV"
                      prepend-icon="mdi-cart"
                      auto-select-first
                    ></v-combobox>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="7" sm="1" md="1">
                  <br />
                  <v-tooltip top v-if="can(security.salesCreateDetail)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="success"
                        :loading="loading"
                        :disabled="loading"
                        @click="addProduct"
                      >
                        <v-icon>mdi-clipboard-plus-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Guardar Producto</span>
                  </v-tooltip>
                </v-col>
              </v-row>

              <v-row v-else>
                <v-col class="separate" cols="12" xs="12" sm="12" md="7">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Product"
                    rules="required"
                  >
                    <v-autocomplete
                      hide-selected
                      no-filter
                      prepend-icon="mdi-cart"
                      :error-messages="errors"
                      v-model="presentation_product"
                      :items="products"
                      :search-input.sync="findProduct"
                      label="Seleccionar Producto"
                      @change="setPrice"
                      @keyup="searchData"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeItem(data.item)"
                        >
                          <v-avatar left>
                            <v-img :src="data.item.product.picture"></v-img>
                          </v-avatar>
                          <div
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                          >
                            {{
                              data.item.product.name +
                              " " +
                              data.item.quantity +
                              " " +
                              unit.name
                            }}
                          </div>
                          <div v-else>
                            {{
                              data.item.product.name +
                              " " +
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              ")"
                            }}
                          </div>
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <v-list-item-avatar>
                          <img :src="data.item.product.picture" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.product.name"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-if="
                              data.item.presentation.name == $singlePresentation
                            "
                            v-html="
                              data.item.quantity +
                              ' ' +
                              unit.name +
                              ': S/. ' +
                              data.item.salePrice
                            "
                          ></v-list-item-subtitle>
                          <v-list-item-subtitle v-else>
                            {{
                              data.item.presentation.name +
                              "(" +
                              data.item.quantity +
                              " " +
                              unit.plural +
                              "): S/. " +
                              data.item.salePrice
                            }}
                          </v-list-item-subtitle>
                          <v-list-item-subtitle>
                            Stock:{{
                              Math.round(
                                (data.item.product.stock / data.item.quantity) *
                                  100
                              ) / 100
                            }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="12" sm="5" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Precio"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="price"
                      :error-messages="errors"
                      label="Precio"
                      prepend-icon="mdi-cart"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="5" sm="5" md="2">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Cantidad"
                    :rules="{
                      required: true,
                      regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                    }"
                  >
                    <v-text-field
                      v-model="quantity"
                      :error-messages="errors"
                      label="Cabtidad"
                      prepend-icon="mdi-cart"
                    ></v-text-field>
                  </validation-provider>
                </v-col>
                <v-col class="separate" cols="12" xs="7" sm="2" md="1">
                  <br />
                  <v-tooltip top v-if="can(security.salesCreateDetail)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        v-bind="attrs"
                        v-on="on"
                        icon
                        color="success"
                        :loading="loading"
                        :disabled="loading"
                        @click="addProduct"
                      >
                        <v-icon>mdi-clipboard-plus-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>Guardar Producto</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </validation-observer>
            <div class="text-center"></div>
          </form>

          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    width="30"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                  >
                    Item
                  </th>
                  <th
                    width="30"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                    v-if="item.type == 'Boleta' || item.type == 'Factura'"
                  >
                    Código
                  </th>
                  <th class="text-left teal--text subtitle-1 font-weight-bold">
                    Producto
                  </th>
                  <th
                    width="120"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                  >
                    P. Unitario
                  </th>
                  <th
                    width="120"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                  >
                    Cantidad
                  </th>
                  <th
                    width="30"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                    v-if="item.type == 'Boleta' || item.type == 'Factura'"
                  >
                    IGV
                  </th>
                  <th
                    width="120"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                  >
                    SubTotal
                  </th>
                  <th
                    width="10"
                    class="text-left teal--text subtitle-1 font-weight-bold"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="detail in item.sale_details" :key="detail.id">
                  <td>
                    {{ detail.number }}
                  </td>
                  <td v-if="item.type == 'Boleta' || item.type == 'Factura'">
                    {{ detail.presentation_product.product.code }}
                  </td>
                  <td
                    v-if="
                      detail.presentation_product.presentation.name ==
                      $singlePresentation
                    "
                  >
                    {{ detail.presentation_product.product.name }}
                    {{ unit.name }}
                  </td>
                  <td v-else>
                    {{ detail.presentation_product.product.name }}
                    {{ detail.presentation_product.presentation.name + "(" }}
                    {{ detail.presentation_product.quantity }}
                    {{ unit.plural + ")" }}
                  </td>
                  <td v-if="item.type == 'Boleta' || item.type == 'Factura'">
                    {{ detail.priceIgv }}
                  </td>
                  <td v-else>{{ detail.price }}</td>
                  <td>
                    {{ detail.quantity }}
                  </td>
                  <td v-if="item.type == 'Boleta' || item.type == 'Factura'">
                    {{ detail.igv }}
                  </td>
                  <td v-if="item.type == 'Boleta' || item.type == 'Factura'">
                    {{ detail.amount }}
                  </td>
                  <td v-else>{{ detail.price * detail.quantity }}</td>
                  <td>
                    <v-tooltip top v-if="can(security.salesDeleteDetail)">
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          color="error"
                          v-bind="attrs"
                          v-on="on"
                          @click="removeProduct(detail)"
                        >
                          mdi-trash-can
                        </v-icon>
                      </template>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <br />
          <hr />
          <v-row>
            <v-col
              v-if="item.type == 'Boleta' || item.type == 'Factura'"
              cols="12"
              xs="12"
              sm="12"
              md="12"
            >
              <p class="text-end subtitle-1">
                Sub Total = S/. {{ Math.round(this.subTotal * 100) / 100 }}
                <br />
                ------------------------------------------------------- <br />
                Op. Gravada = S/.
                {{ Math.round(this.recorded * 100) / 100 }}
                <br />
                Op. Exonerada = S/.
                {{ Math.round(this.exonerated * 100) / 100 }} <br />
                Op. Inafecta = S/.
                {{ Math.round(this.unaffected * 100) / 100 }} <br />
                ------------------------------------------------------- <br />
                IGV = S/. {{ Math.round(this.igv * 100) / 100 }} <br />
                Total = S/. {{ Math.round(total * 100) / 100 }}
              </p>
            </v-col>
            <v-col v-else cols="12" xs="12" sm="12" md="12">
              <p class="text-end subtitle-1">
                Total = S/. {{ Math.round(total * 100) / 100 }}
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="separate" cols="12" xs="12" sm="12" md="12">
              <validation-provider v-slot="{ errors }" name="Detalle">
                <v-text-field
                  v-model="item.detail"
                  :error-messages="errors"
                  label="Detalle"
                ></v-text-field>
              </validation-provider>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>

    <v-dialog persistent v-model="frmSaveClientDialog" max-width="500px">
      <!--<v-card>-->
      <v-card dark>
        <v-card-title class="headline justify-center">
          Cliente no Encontrado</v-card-title
        >
        <v-card-text class="text-center"
          >El número de documento no se pudo encontrar ¿Desea agregarlo a la
          base de datos?</v-card-text
        >
        <v-card-actions class="justify-center">
          <v-btn
            color="error"
            @click="saveClient"
            :loading="loading"
            :disabled="loading"
          >
            Si
          </v-btn>
          <v-btn
            color="primary"
            @click="frmSaveClientDialog = false"
            :loading="loading"
            :disabled="loading"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <SaveClient
      v-if="can(security.clientsCreate) || can(security.clientsUpdate)"
      :dialog="frmClient"
      :title="frmClientTitle"
      :item="clientCreate"
      @close="frmClient = false"
      @added="addClient"
    />
    <Generate
      :dialog="loading"
      :item="item"
      @close="openInvoice"
      ref="generate"
    />
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import SaveClient from "../client/Save";
import Generate from "./Generate";
export default {
  components: {
    SaveClient,
    Generate,
  },
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    clients: [],
    products: [],
    editDetails: [],
    presentation_product: null,
    price: "",
    quantity: "",
    typeIgv: "Gravado",
    mDate: false,
    dateFormatted: null,
    frmClient: false,
    frmClientTitle: "Crear Nuevo Cliente",
    frmSaveClientDialog: false,
    clientCreate: {},
    findProduct: "",
    recorded: 0,
    exonerated: 0,
    unaffected: 0,
    subTotal: 0,
    igv: 0,
    sunatInvoice: true,
  }),
  computed: {
    ...mapGetters(["security", "can", "unit", "defaultIgv"]),
    date: {
      get: function () {
        return this.item.date;
      },
      set: function (value) {
        this.item.date = value;
      },
    },
    total() {
      let item = 0;
      this.recorded = 0;
      this.exonerated = 0;
      this.unaffected = 0;
      this.igv = 0;
      if (this.item.sale_details) {
        this.item.sale_details.forEach((element) => {
          if (element.typeIgv == "Gravado") {
            this.recorded += element.amount;
            this.igv += element.igv;
          } else if (element.typeIgv == "Exonerado")
            this.exonerated += element.amount;
          else if (element.typeIgv == "Inafecto")
            this.unaffected += element.amount;
          element.number = ++item;
        });
        this.subTotal = this.recorded + this.exonerated + this.unaffected;
      }
      if (this.item.id) {
      }
      let detail = {
        presentation_product: this.presentation_product,
        price: this.price,
        quantity: this.quantity,
        typeIgv: this.typeIgv,
      };
      if (this.typeIgv == "Gravado") {
        detail.priceIgv =
          Math.round((this.price / (1 + this.defaultIgv)) * 100) / 100;
        detail.amount = Math.round(detail.priceIgv * this.quantity * 100) / 100;
        detail.igv =
          Math.round((this.price * this.quantity - detail.amount) * 100) / 100;
      } else if (this.typeIgv == "Exonerado") {
        detail.priceIgv = this.price;
        detail.amount = this.price * this.quantity;
        detail.igv = 0.0;
      } else if (this.typeIgv == "Inafecto") {
        detail.priceIgv = this.price;
        detail.amount = element.price * element.quantity;
        detail.igv = 0.0;
      }
      return Math.round((this.subTotal + this.igv) * 100) / 100;
    },
    typeDocument() {
      switch (this.item.type) {
        case "Ticket":
          return "P";
        case "Boleta":
          return "B";
        case "Factura":
          return "F";
        default:
          return "";
      }
    },
  },
  watch: {
    findProduct(val) {
      this.findProduct = val;
    },
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del cliente seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
      this.$refs.detail.reset();
      this.presentation_product = null;
      this.price = "";
      this.quantity = "";
      this.typeIgv = "Gravado";
      this.dueDate = null;
      this.editDetails = [];
      this.$refs.observer.reset();
      this.$refs.detail.reset();
      this.listProducts();
      this.listClients();
    },
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        try {
          if (this.item.sale_details.length > 0) {
            this.loading = true;
            if (this.item.type == "Boleta" || this.item.type == "Factura") {
              await this.checkSunatInvoice();
            }

            if (this.sunatInvoice) {
              let res;
              if (this.item.id) {
                res = await axios.put(`/sale/${this.item.id}`, this.item);
                if (res.status === 200) {
                  this.loading = false;
                  this.close();
                  this.showAlert({
                    color: "success",
                    text: res.data.message,
                  });
                  this.openInvoice();
                }
              } else {
                let check = await this.verifyDocumentNumber();
                if (!check) {
                  res = await axios.post("/sale", this.item);
                  if (res.status === 200) {
                    if (res.data.add == "No") {
                      this.showAlert({
                        color: "error",
                        text: res.data.message,
                      });
                      this.loading = false;
                    } else {
                      this.item.id = res.data.sale.id;
                      this.$emit("added", res.data);
                      this.loading = false;
                      this.openInvoice();
                      this.close();
                    }
                  }
                } else {
                  this.loading = false;
                  this.showAlert({
                    color: "error",
                    text: "El número de comprobante ya existe genere de nuevo la venta",
                  });
                }
              }
            } else {
              this.loading = false;
            }
          } else {
            this.$refs.detail.setErrors({
              Product: "Debe de ingresar productos a la venta",
            });
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        "Fecha de Venta": error.date,
        Tipo: error.type,
        Serie: error.serie,
        Correlativo: error.correlative,
        Detalle: error.detail,
      });
    },
    /**
     * Aregar un cliente a la lista de clientes cliente
     */
    addClient(data) {
      this.clients.unshift(data.client);
      this.item.client = data.client;
    },
    /**
     * obteer el valor del combobox numero de documento o en nombre del cliente
     */
    async getClient() {
      if (!this.item.client.id) {
        let res;
        let client;
        let saveRes;
        if (this.item.client.length == 8) {
          res = await axios.get(
            `https://dniruc.apisperu.com/api/v1/dni/${this.item.client}?token=${this.$tokenDniRuc}`
          );
          if (res.data.nombres) {
            client = {
              personType: "client",
              lastName:
                res.data.apellidoPaterno + " " + res.data.apellidoMaterno,
              firstName: res.data.nombres,
              documentType: "DNI",
              documentNumber: res.data.dni,
              address: "",
              phone: "",
              picture: "",
            };
            saveRes = await axios.post("/client", client);
            this.item.client = saveRes.data.client;
          } else {
            this.clientCreate = {
              personType: "client",
              lastName: "",
              firstName: "",
              documentType: "DNI",
              documentNumber: this.item.client,
              address: "",
              phone: "",
              picture: "",
            };
            this.frmSaveClientDialog = true;
          }
        } else if ((this.item.client.length = 11)) {
          res = await axios.get(
            `https://dniruc.apisperu.com/api/v1/ruc/${this.item.client}?token=${this.$tokenDniRuc}`
          );
          if (res.data.razonSocial) {
            client = {
              personType: "client",
              lastName: "",
              firstName: res.data.razonSocial,
              documentType: "DNI",
              documentNumber: res.data.ruc,
              address: res.data.direccion,
              phone: "",
              picture: "",
            };
            await axios.post("/client", client);
            this.item.client = saveRes.data.client;
          } else {
            this.clientCreate = {
              personType: "client",
              lastName: "",
              firstName: "",
              documentType: "RUC",
              documentNumber: this.item.client,
              address: "",
              phone: "",
              picture: "",
            };
            this.frmSaveClientDialog = true;
          }
        } else {
          this.clientCreate = {
            personType: "client",
            lastName: "",
            firstName: "",
            documentType: "Otro",
            documentNumber: this.item.client,
            address: "",
            phone: "",
            picture: "",
          };
          this.frmSaveClientDialog = true;
        }
      }
    },
    /**
     * agregar cliente si no existe
     */
    saveClient() {
      this.frmClient = true;
      this.frmSaveClientDialog = false;
    },
    /**
     * poner el precio y la cantidad del producto
     */
    setPrice() {
      this.price = "";
      this.quantity = "";
      if (this.presentation_product.salePrice) {
        this.price = this.presentation_product.salePrice;
        this.quantity = 1;
      }
    },
    /**
     * agregar producto a la venta
     */
    async addProduct() {
      let hasStock = true;
      let find;
      let validateSale = await this.$refs.observer.validate();
      if (validateSale) {
        let validate = await this.$refs.detail.validate();

        if (validate) {
          this.loading = true;
          let detail = {
            presentation_product: this.presentation_product,
            price: this.price,
            quantity: this.quantity,
            typeIgv: this.typeIgv,
          };
          if (this.typeIgv == "Gravado") {
            detail.priceIgv =
              Math.round((this.price / (1 + this.defaultIgv)) * 100) / 100;
            detail.amount =
              Math.round(detail.priceIgv * this.quantity * 100) / 100;
            detail.igv =
              Math.round((this.price * this.quantity - detail.amount) * 100) /
              100;
          } else if (this.typeIgv == "Exonerado") {
            detail.priceIgv = this.price;
            detail.amount = this.price * this.quantity;
            detail.igv = 0.0;
          } else if (this.typeIgv == "Inafecto") {
            detail.priceIgv = this.price;
            detail.amount = element.price * element.quantity;
            detail.igv = 0.0;
          }
          this.products.find((element) => {
            if (element.product.id == detail.presentation_product.product.id) {
              if (
                element.product.stock <
                detail.quantity * detail.presentation_product.quantity
              ) {
                hasStock = false;
                find = element;
              }
            }
          });
          if (hasStock) {
            this.item.sale_details.push(detail);
            this.showAlert({
              color: "success",
              text: "Producto agregado correctamente.",
            });
            this.loading = false;
            this.price = "";
            this.quantity = "";
            this.typeIgv = "Gravado";
            this.presentation_product = null;
            this.dueDate = null;
            this.$refs.observer.reset();
            this.$refs.detail.reset();
            this.findProduct = "";
            if (this.item.id) {
              detail.delete = false;
              this.editDetails;
            }
            this.listProducts();
          } else {
            this.showAlert({
              color: "error",
              text:
                "No tiene stock suficiente. Faltan " +
                (detail.quantity * detail.presentation_product.quantity -
                  find.product.stock) +
                " unidades",
            });
            this.loading = false;
          }
        }
      }
      /*let updateStock =
        this.presentation_product.product.stock -
        this.quantity * this.presentation_product.quantity;
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        this.$refs.detail.validate().then((success) => {
          if (!success) {
            return;
          }
          if (updateStock < 0) {
            this.showAlert({
              color: "error",
              text:
                this.presentation_product.product.fullName +
                " faltan " +
                updateStock * -1 +
                " " +
                this.presentation_product.product.measure.plural +
                " para la venta",
            });
            return;
          }
          this.loading = true;
          let detail = {
            presentation_product: this.presentation_product,
            price: this.price,
            quantity: this.quantity,
          };
          if (this.item.id) {
            axios
              .post(`/sale/${this.item.id}/detail`, detail)
              .then((response) => {
                if (response.data.add == "No") {
                  this.showAlert({
                    color: "error",
                    text: response.data.message,
                  });
                  this.loading = false;
                } else {
                  this.item.sale_details.push(response.data.detail);
                  this.loading = false;
                }
              })
              .catch((error) => {
                this.loading = false;
              });
          } else {
            this.item.sale_details.push(detail);
            this.products
              .filter(
                (element) =>
                  element.product_id == detail.presentation_product.product_id
              )
              .forEach((element) => (element.product.stock = updateStock));
            this.loading = false;
          }

          this.price = "";
          this.quantity = "";
          this.presentation_product = null;
          this.$refs.observer.reset();
          this.$refs.detail.reset();
        });
      });*/
    },
    /**
     * quitar producto a la venta
     */
    async removeProduct(detail) {
      this.item.sale_details.splice(this.item.sale_details.indexOf(detail), 1);
      this.showAlert({
        color: "success",
        text: "Producto eliminado correctamente.",
      });
      this.findProduct = "";
      if (this.item.id) {
        detail.delete = true;
        this.editDetails.push(detail);
      }
      this.listProducts();
      /*if (this.item.id) {
        axios
          .delete(`/sale/${this.item.id}/detail`, {
            params: detail,
          })
          .then((response) => {
            if (response.status === 200) {
              this.showAlert({
                color: "success",
                text: response.data.message,
              });
              this.item.sale_details.splice(
                this.item.sale_details.indexOf(detail),
                1
              );
            }
          });
      } else {
        this.item.sale_details.splice(
          this.item.sale_details.indexOf(detail),
          1
        );
        let updateStock =
          detail.quantity * detail.presentation_product.quantity;
        this.products
          .filter(
            (element) =>
              element.product_id == detail.presentation_product.product_id
          )
          .forEach((element) => (element.product.stock += updateStock));
      }*/
    },
    /**
     * quitar producto seleccionado en el combobox
     */
    removeItem(item) {
      this.price = "";
      this.quantity = "";
      this.product = {};
      this.presentation_product = {};
      this.findProduct = "";
    },
    /**
     * Listar todos los clientes
     */
    async listClients() {
      let res = await axios.get("/clients");
      this.clients = res.data;
    },
    /**
     * Listar todos los productos
     */
    async listProducts() {
      let res = await axios.get("/product-presentation", {
        params: { quantity: 100, find: this.findProduct },
      });

      this.products = res.data;

      if (this.item.sale_details) {
        this.item.sale_details.forEach((detail) => {
          this.products.find((element) => {
            if (
              element.product.id == detail.presentation_product.product.id &&
              !detail.id
            ) {
              element.product.stock -=
                detail.quantity * detail.presentation_product.quantity;
            }
          });
        });
      }

      if (this.item.id && this.editDetails) {
        this.editDetails.forEach((detail) => {
          this.products.find((element) => {
            if (element.product.id == detail.presentation_product.product.id) {
              if (detail.delete) {
                element.product.stock +=
                  detail.quantity * detail.presentation_product.quantity;
              } else {
                element.product.stock -=
                  detail.quantity * detail.presentation_product.quantity;
              }
            }
          });
        });
      }
    },
    /**
     * Buscar productos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listProducts, 360);
    },
    /**
     * obtener el numero de comprobante
     */
    async getDocumentNumber() {
      let res = await axios.get("/generate-document-number", {
        params: { type: this.item.type },
      });
      this.item.serie = res.data.serie;
      this.item.correlative = res.data.correlative;
      this.checkSunatInvoice();
    },

    /**
     * verificar el numero de comprobante
     */
    async verifyDocumentNumber() {
      let res = await axios.get("/verify-document-number", {
        params: {
          type: this.item.type,
          serie: this.item.serie,
          correlative: this.item.correlative,
        },
      });
      return res.data.exist;
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    /**
     * Verificar facturador de sunat
     * Verificar si esta iniciado el facturador de sunat
     *
     */
    async checkSunatInvoice() {
      let res = await axios.get("/checksunatinvoice");
      if (this.item.type == "Boleta" || this.item.type == "Factura") {
        if (!res.data.state) {
          this.showAlert({
            color: "error",
            text: "Si va a generar una Boleta o Factura INICIE EL FACTURADOR DE SUNAT.",
          });
        }
        this.sunatInvoice = res.data.state;
      } else {
        this.sunatInvoice = true;
      }
    },
    /**
     * Ticket del comprobante
     *
     */
    async openInvoice() {
      let route = this.$router.resolve({
        path: `voucher/${this.item.id}`,
      });
      window.open(route.href, "_blank");
    },
  },
  mounted() {
    this.listClients();
    this.listProducts();
  },
};
</script>
<style scoped>
.separate {
  padding-top: 0;
  padding-bottom: 0;
}
</style>