<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-layers-triple-outline</v-icon> Administrar Productos
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-archive</v-icon> Presentaciones
      </h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.presentationsCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar una Nueva Presentación</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Presentación
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Detalle
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.detail }}</td>
              <td width="80">
                <div v-if="item.name != $singlePresentation">
                  <v-tooltip top v-if="can(security.presentationsUpdate)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        color="success"
                        v-bind="attrs"
                        v-on="on"
                        @click="showItem(item)"
                      >
                        mdi-pencil-box-multiple
                      </v-icon>
                    </template>
                    <span>Editar</span>
                  </v-tooltip>
                  <v-tooltip top v-if="can(security.presentationsDelete)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon
                        color="error"
                        v-bind="attrs"
                        v-on="on"
                        @click="deleteItem(item)"
                      >
                        mdi-trash-can
                      </v-icon>
                    </template>
                    <span>Eliminar</span>
                  </v-tooltip>
                </div>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="
          can(security.presentationsCreate) || can(security.presentationsUpdate)
        "
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.presentationsDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar todas las presentaciones
     */
    async listAll(page = 1) {
      let res = await axios.get("/presentation?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar presentaciones al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear una presentacion
     */
    open() {
      this.item = {
        name: "",
        detail: "",
      };
      this.saveTitle = "Crear Nueva Presentación";
      this.save = true;
    },
    /**
     * Abrir dialog para editar presentacion
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Presentación";
      this.save = true;
    },
    /**
     * Agregar item a la lista de presentaciones
     *
     * @param {object} data - presentacion agregada
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.presentation);
    },
    /**
     * Cargar presentacion del servidor
     *
     * @param {object} data - presentacion seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/presentation/${data.id}`, data);
      if (res.status === 200) {
        this.item.name = res.data.presentation.name;
        this.item.detail = res.data.presentation.detail;
      }
    },
    /**
     * Abrir dialog para eliminar presentacion
     *
     * @param {object} item - presentacion a ser eliminada
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de presentaciones
     *
     * @param {object} data - presentacion a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>