<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">
          {{ "Cambiar Contraseña (" + item.login + ")" }}</span
        >
        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <validation-provider
              v-slot="{ errors }"
              name="Contraseña"
              rules="required|max:30"
            >
              <v-text-field
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                v-model="password1"
                :error-messages="errors"
                :counter="30"
                label="Contaseña"
                prepend-icon="mdi-account-lock"
                @click:append="show1 = !show1"
              ></v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Repetir Contraseña"
              rules="required|max:30"
            >
              <v-text-field
                :type="show2 ? 'text' : 'password'"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                v-model="password2"
                :error-messages="errors"
                :counter="30"
                label="Repetir contraseña"
                prepend-icon="mdi-account-lock"
                @click:append="show2 = !show2"
              ></v-text-field>
            </validation-provider>
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    show1: false,
    show2: false,
    password1: "",
    password2: "",
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del rol seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      this.$refs.observer.reset();
    },
    /**
     * Guardar Rol
     * Permite guardar el rol ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el rol creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        if (this.password1 != this.password2) {
          let error = {
            password1: "No coinciden las contraseñas",
          };
          this.setErrors(error);
        } else {
          this.loading = true;
          try {
            let res = await axios.post(`/user/${this.item.id}/password`, {
              password: this.password1,
            });
            if (res.status === 200) {
              this.loading = false;
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.close();
            }
          } catch (error) {
            this.loading = false;
            if (error.response.data.errors) {
              this.setErrors(error.response.data.errors);
            }
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Contraseña: error.password1,
        "Repetir Contraseña": error.password2,
      });
    },
  },
};
</script>