<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Apellidos y Nombres-->

            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Apellidos"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.lastName"
                    :error-messages="errors"
                    :counter="50"
                    label="Apellidos del Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombres"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.firstName"
                    :error-messages="errors"
                    :counter="50"
                    label="Nombres de Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- DNI y Telefono -->
            <v-row align="center">
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="DNI"
                  rules="required|numeric|max:8|min:8"
                >
                  <v-text-field
                    type="number"
                    v-model="item.dni"
                    :error-messages="errors"
                    :counter="8"
                    label="DNI del Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Telefono"
                  rules="numeric|max:15"
                >
                  <v-text-field
                    v-model="item.phone"
                    :error-messages="errors"
                    :counter="15"
                    label="Telefono del Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!-- Dirección -->
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Dirección"
                  rules="max:100"
                >
                  <v-text-field
                    v-model="item.address"
                    :error-messages="errors"
                    :counter="100"
                    label="Direción de Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Login y Contraseña -->

            <v-row align="center" v-if="item.id">
              <v-flex cols="12">
                <validation-provider
                  v-slot="{ errors }"
                  name="Usuario"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.login"
                    :error-messages="errors"
                    :counter="50"
                    label="Login de Usuario"
                    prepend-icon="mdi-account"
                    :disabled="item.login == $adminUser"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <v-row align="center" v-else>
              <v-flex cols="12" xs12 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Usuario"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.login"
                    :error-messages="errors"
                    :counter="50"
                    label="Login de Usuario"
                    prepend-icon="mdi-account"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 sm8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Contraseña"
                  rules="required|max:50"
                >
                  <v-text-field
                    v-model="item.password"
                    :error-messages="errors"
                    :counter="50"
                    label="Contraseña"
                    prepend-icon="mdi-account"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Correo electrónico -->

            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Email"
                  rules="required|email|max:255"
                >
                  <v-text-field
                    v-model="item.email"
                    :error-messages="errors"
                    label="Correo Electónico"
                    prepend-icon="mdi-account"
                    :counter="255"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    loading: false,
    mBirthDay: false,
    birthDayFormatted: null,
    showPassword: false,
    activePicker: null,
  }),
  watch: {
    birthDay(val) {
      this.birthDayFormatted = this.formatDate(this.birthDay);
    },
    mBirthDay(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  computed: {
    birthDay: {
      get: function () {
        return this.item.birthday;
      },
      set: function (value) {
        this.item.birthday = value;
      },
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Usuario
     * Permite guardar el usuario ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el usuario creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(`/user/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          } else {
            res = await axios.post("/user", this.item);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        DNI: error.dni,
        "Fecha de Nacimiento": error.birthday,
        Sexo: error.gender,
        Telefono: error.phone,
        Dirección: error.address,
        Usuario: error.login,
        Contraseña: error.password,
        Email: error.email,
      });
    },

    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
};
</script>