<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Ingresos y Egresos</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm6 md6>
            <!--<v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <br />
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click="exportPdf"
                  color="red"
                  dark
                >
                  <v-icon left>mdi-file-pdf-box</v-icon>
                  <span>PDF</span>
                </v-btn>
              </template>
              <span>Exportar en PDF</span>
            </v-tooltip>-->
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <JsonExcel
                  :data="excelData"
                  :worksheet="excelSheetName"
                  name="reporte de ingresos y egresos.xls"
                  style="display: inline"
                >
                  <v-btn v-bind="attrs" v-on="on" color="success" dark>
                    <v-icon left>mdi-file-excel-box</v-icon>
                    <span>Excel</span>
                  </v-btn>
                </JsonExcel>
              </template>
              <span>Exportar en Excel</span>
            </v-tooltip>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-checkbox
              v-model="details"
              label="Detallado"
              color="success"
              @change="updateReport()"
            ></v-checkbox>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="updateReport"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="updateReport"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              Reporte de Ingresos y Egresos
              <small>
                ({{ beginDateFormatted }} al {{ endDateFormatted }})</small
              >
            </v-card-title>
            <v-card-text>
              <v-simple-table fixed-header dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th
                        colspan="10"
                        class="text-left indigo white--text title"
                      >
                        Ventas
                      </th>
                    </tr>
                    <tr>
                      <th
                        v-if="details"
                        class="text-left indigo--text subtitle-1"
                      >
                        Item
                      </th>
                      <th class="text-left indigo--text subtitle-1">Fecha</th>
                      <th
                        v-if="details"
                        class="text-left indigo--text subtitle-1"
                      >
                        Cant.
                      </th>
                      <th
                        v-if="details"
                        class="text-left indigo--text subtitle-1"
                      >
                        Precio
                      </th>
                      <th
                        v-if="details"
                        class="text-left indigo--text subtitle-1"
                      >
                        T.Ventas
                      </th>
                      <th
                        v-if="details"
                        class="text-left indigo--text subtitle-1"
                      >
                        T.Compras
                      </th>
                      <th class="text-left indigo--text subtitle-1">
                        Ganancia
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="item in balanceReport.sales" :key="item.id">
                      <td v-if="details && item.presentation == 'Individual'">
                        {{ item.product }} ({{ item.presentationQuantity }})
                      </td>
                      <td v-if="details && item.presentation != 'Individual'">
                        {{ item.product }} ({{ item.presentation }}:{{
                          item.presentationQuantity
                        }})
                      </td>
                      <td>{{ item.date | moment("DD/MM/YYYY") }}</td>
                      <td v-if="details">{{ item.quantitySale }}</td>
                      <td v-if="details">
                        S/.{{ Math.round(item.salePrice * 100) / 100 }}
                      </td>
                      <td v-if="details">
                        S/.{{ Math.round(item.totalSalePrice * 100) / 100 }}
                      </td>
                      <td v-if="details">
                        S/.{{ Math.round(item.totalBuyPrice * 100) / 100 }}
                      </td>
                      <td>
                        S/.{{
                          Math.round(
                            (item.totalSalePrice - item.totalBuyPrice) * 100
                          ) / 100
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td class="subtitle-1" v-if="details" colspan="6">
                        <strong>Total Ganacias</strong>
                      </td>
                      <td class="subtitle-1" v-else>
                        <strong>Total Ganancias</strong>
                      </td>
                      <td class="subtitle-1">
                        <strong>
                          S/.{{
                            Math.round(balanceReport.totalIncome * 100) / 100
                          }}
                        </strong>
                      </td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th
                        colspan="10"
                        class="text-left orange darken-4 white--text title"
                      >
                        Gastos
                      </th>
                    </tr>
                    <tr>
                      <th
                        v-if="details"
                        class="text-left deep-orange--text subtitle-1"
                      >
                        Nombre
                      </th>
                      <th
                        v-if="details"
                        colspan="4"
                        class="text-left deep-orange--text subtitle-1"
                      >
                        Tipo
                      </th>
                      <th class="text-left deep-orange--text subtitle-1">
                        Fecha
                      </th>
                      <th class="text-left deep-orange--text subtitle-1">
                        Total
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="item in balanceReport.expenses" :key="item.id">
                      <td v-if="details">
                        {{ item.name }}
                      </td>
                      <td v-if="details" colspan="4">
                        {{ item.type }}
                      </td>
                      <td>{{ item.date | moment("DD/MM/YYYY") }}</td>
                      <td>S/.{{ Math.round(item.total * 100) / 100 }}</td>
                    </tr>
                    <tr>
                      <td class="subtitle-1" v-if="details" colspan="6">
                        <strong>Total Egresos</strong>
                      </td>
                      <td class="subtitle-1" v-else>
                        <strong>Total Egresos</strong>
                      </td>
                      <td class="subtitle-1">
                        <strong
                          >S/.{{
                            Math.round(balanceReport.totalExpense * 100) / 100
                          }}</strong
                        >
                      </td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th
                        v-if="details"
                        colspan="6"
                        class="text-left green white--text title"
                      >
                        Utilidad Bruta
                      </th>
                      <th v-else class="text-left green white--text title">
                        Utilidad Bruta
                      </th>
                      <th class="text-left green white--text title">
                        S/.{{ Math.round(balanceReport.utility * 100) / 100 }}
                      </th>
                    </tr>
                  </thead>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
import moment from "moment";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    balanceReport: [],
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -30).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -30).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: false,
    details: false,
  }),
  computed: {
    total() {
      let total = 0;
      this.balanceReport.forEach((element) => {
        total += element.total;
      });
      return total;
    },
    excelSheetName() {
      return (
        moment(this.beginDate).format("DD-MM-YYYY") +
        " al " +
        moment(this.endDate).format("DD-MM-YYYY")
      );
    },
    excelData() {
      let data = [];
      let item = "";
      if (this.details) {
        data.push({
          Col1: "",
          Col2: "",
          Col3: "",
          Col4: "",
          Col5: "",
          Col6: "",
          Col7: "",
        });
        data.push({
          Col1: "Ventas",
          Col2: "",
          Col3: "",
          Col4: "",
          Col5: "",
          Col6: "",
          Col7: "",
        });
        data.push({
          Col1: "Item",
          Col2: "Fecha",
          Col3: "Cantidad",
          Col4: "Precio",
          Col5: "Total Ventas",
          Col6: "Total Compras",
          Col7: "Ganancia",
        });
        this.balanceReport.sales.forEach((element) => {
          if (element.presentation == "Individual") {
            item = element.product + "(" + element.presentationQuantity + ")";
          } else {
            item =
              element.product +
              " (" +
              element.presentation +
              ": " +
              element.presentationQuantity +
              ")";
          }
          data.push({
            Col1: item,
            Col2: element.date,
            Col3: element.quantitySale,
            Col4: Math.round(element.salePrice * 100) / 100,
            Col5: Math.round(element.totalSalePrice * 100) / 100,
            Col6: Math.round(element.totalBuyPrice * 100) / 100,
            Col7:
              Math.round(
                (element.totalSalePrice - element.totalBuyPrice) * 100
              ) / 100,
          });
        });
        data.push({
          Col1: "Total",
          Col7: Math.round(this.balanceReport.totalIncome * 100) / 100,
        });
        data.push({
          Col1: "",
          Col2: "",
          Col3: "",
          Col4: "",
          Col5: "",
          Col6: "",
          Col7: "",
        });
        data.push({
          Col1: "Egresos",
        });
        data.push({
          Col1: "Nombre",
          Col2: "Tipo",
          Col3: "Fecha",
          Col4: "Total",
        });
        this.balanceReport.expenses.forEach((element) => {
          data.push({
            Col1: element.name,
            Col2: element.type,
            Col3: element.date,
            Col4: Math.round(element.total * 100) / 100,
          });
        });
        data.push({
          Col1: "Total",
          Col7: Math.round(this.balanceReport.totalExpense * 100) / 100,
        });
        data.push({
          Col1: "",
          Col2: "",
          Col3: "",
          Col4: "",
          Col5: "",
          Col6: "",
          Col7: "",
        });
        data.push({
          Col1: "Utilidad Bruta",
          Col7: Math.round(this.balanceReport.utility * 100) / 100,
        });
      } else {
        data.push({
          Col1: "",
          Col2: "",
        });
        data.push({
          Col1: "Ventas",
          Col2: "",
        });
        data.push({
          Col1: "Fecha",
          Col2: "Total",
        });
        this.balanceReport.sales.forEach((element) => {
          data.push({
            Col1: element.date,
            Col2:
              Math.round(
                (element.totalSalePrice - element.totalBuyPrice) * 100
              ) / 100,
          });
        });
        data.push({
          Col1: "Total",
          Col2: Math.round(this.balanceReport.totalIncome * 100) / 100,
        });
        data.push({
          Col1: "",
          Col2: "",
        });
        data.push({
          Col1: "Egresos",
        });
        data.push({
          Col1: "Fecha",
          Col2: "Total",
        });
        this.balanceReport.expenses.forEach((element) => {
          data.push({
            Col1: element.date,
            Col2: Math.round(element.total * 100) / 100,
          });
        });
        data.push({
          Col1: "Total",
          Col2: Math.round(this.balanceReport.totalExpense * 100) / 100,
        });
        data.push({
          Col1: "",
          Col2: "",
        });
        data.push({
          Col1: "Utilidad Bruta",
          Col2: Math.round(this.balanceReport.utility * 100) / 100,
        });
      }

      return data;
    },
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
      let type = this.details ? "detail" : "";
      let search = {
        beginDate: this.beginDate,
        endDate: this.endDate,
        type: type,
      };
      this.hasData = false;
      let res = await axios.get("/balance-report", { params: search });
      this.load = false;
      this.hasData = true;
      this.balanceReport = res.data;
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let sales = [];
      let expenses = [];
      let item = "";

      const doc = new jsPDF({
        orientation: "portrait",
        unit: "in",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc
        .setFontSize(16)
        .text(
          "Reporte de Ingresos y egresos de " +
            this.beginDateFormatted +
            " al " +
            this.endDateFormatted,
          0.5,
          1.0
        );

      if (this.details) {
        this.balanceReport.sales.forEach((element) => {
          if (element.presentation == "Individual") {
            item = element.product + "(" + element.presentationQuantity + ")";
          } else {
            item =
              element.product +
              " (" +
              element.presentation +
              ": " +
              element.presentationQuantity +
              ")";
          }
          sales.push({
            Col1: item,
            Col2: element.date,
            Col3: element.quantitySale,
            Col4: "S/." + Math.round(element.salePrice * 100) / 100,
            Col5: "S/." + Math.round(element.totalSalePrice * 100) / 100,
            Col6: "S/." + Math.round(element.totalBuyPrice * 100) / 100,
            Col7:
              "S/." +
              Math.round(
                (element.totalSalePrice - element.totalBuyPrice) * 100
              ) /
                100,
          });
        });
        sales.push({
          Col1: "Total",
          Col7:
            "S/." + Math.round(this.balanceReport.totalIncome * 100) / 100,
        });
        const columnsSales = [
          { title: "Item", dataKey: "Col1" },
          { title: "Fecha", dataKey: "Col2" },
          { title: "Cantidad", dataKey: "Col3" },
          { title: "Precio Venta", dataKey: "Col4" },
          { title: "Total Ventas", dataKey: "Col5" },
          { title: "Total Compras", dataKey: "Col6" },
          { title: "Ganancia", dataKey: "Col7" },
        ];

        doc.autoTable({
          columnsSales,
          body: sales,
          margin: { left: 0.5, top: 1.25 },
        });
        doc.text("Candidate for Hall 1", 10, doc.lastAutoTable.finalY + 30);
        //doc.setFontSize(12).text("Egresos", 0.5, 1.0);
        //doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);

        this.balanceReport.expenses.forEach((element) => {
          expenses.push({
            Col1: element.name,
            Col2: element.type,
            Col3: element.date,
            Col4: "S/." + Math.round(element.total * 100) / 100,
          });
        });
        expenses.push({
          Col1: "Total",
          Col4:
            "S/." + Math.round(this.balanceReport.totalExpense * 100) / 100,
        });
        const columnsExpenses = [
          { title: "Nombre", dataKey: "Col1" },
          { title: "Tipo", dataKey: "Col2" },
          { title: "Fecha", dataKey: "Col3" },
          { title: "Total", dataKey: "Col4" },
        ];
        doc.autoTable({
          columnsExpenses,
          body: expenses,
          margin: { left: 0.5, top: 1.25 },
        });
      }

      // Creating footer and saving file

      doc.save("Reporte de Ingresos y Egresos.pdf");
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>
<style>
.text-decoration-none {
  text-decoration: none !important;
}
</style>