<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Compras por Día</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm6 md8>
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <br />
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click="exportPdf"
                  color="red"
                  dark
                >
                  <v-icon left>mdi-file-pdf-box</v-icon>
                  <span>PDF</span>
                </v-btn>
              </template>
              <span>Exportar en PDF</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <JsonExcel
                  :data="excelData"
                  :worksheet="excelSheetName"
                  name="reporte de compras.xls"
                  style="display: inline"
                >
                  <v-btn v-bind="attrs" v-on="on" color="success" dark>
                    <v-icon left>mdi-file-excel-box</v-icon>
                    <span>Excel</span>
                  </v-btn>
                </JsonExcel>
              </template>
              <span>Exportar en Excel</span>
            </v-tooltip>
          </v-flex>
          <v-flex fluid outlined xs12 sm3 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="updateReport"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm3 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="updateReport"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              Reporte de Compras
              <small>
                ({{ beginDateFormatted }} al {{ endDateFormatted }})</small
              >
            </v-card-title>

            <v-card-text>
              <v-simple-table fixed-header dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left teal--text title">Fecha</th>
                      <th class="text-left teal--text title">
                        Total <br />S/.{{ Math.round(total * 100) / 100 }}
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="item in buysReport" :key="item.id">
                      <td>{{ item.date | moment("DD/MM/YYYY") }}</td>
                      <td>S/.{{ Math.round(item.total * 100) / 100 }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
import moment from "moment";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    buysReport: [],
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -30).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -30).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: false,
  }),
  computed: {
    total() {
      let total = 0;
      this.buysReport.forEach((element) => {
        total += element.total;
      });
      return total;
    },
    excelSheetName() {
      return (
        moment(this.beginDate).format("DD-MM-YYYY") +
        " al " +
        moment(this.endDate).format("DD-MM-YYYY")
      );
    },
    excelData() {
      let data = [];
      this.buysReport.forEach((element) => {
        data.push({
          Fecha: element.date,
          Total: Math.round(element.total * 100) / 100,
        });
      });
      data.push({
        Fecha: "Total",
        Total: Math.round(this.total * 100) / 100,
      });
      return data;
    },
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
      let search = {
        beginDate: this.beginDate,
        endDate: this.endDate,
      };
      this.hasData = false;
      let res = await axios.get("/buys-report", { params: search });
      this.load = false;
      this.hasData = true;
      this.buysReport = res.data;
    },
    /**
     * actualizar las compras
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let report = [];
      this.buysReport.forEach((element) => {
        report.push({
          date: this.formatDate(element.date),
          total: "S/." + Math.round(element.total * 100) / 100,
        });
      });
      report.push({
        date: "Total",
        total: "S/." + Math.round(this.total * 100) / 100,
      });
      const columns = [
        { title: "Fecha", dataKey: "date" },
        { title: "Total", dataKey: "total" },
      ];
      const doc = new jsPDF({
        orientation: "portrait",
        unit: "in",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc
        .setFontSize(16)
        .text(
          "Reporte de Compras de " +
            this.beginDateFormatted +
            " al " +
            this.endDateFormatted,
          0.5,
          1.0
        );
      // create a line under heading
      doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: report,
        margin: { left: 0.5, top: 1.25 },
      });
      // Creating footer and saving file

      doc.save("Reporte de Compras.pdf");
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>
<style>
.text-decoration-none {
  text-decoration: none !important;
}
</style>