<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Ventas de Productos por Día</h3>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm9 md10>
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <br />
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click="exportPdf"
                  color="red"
                  dark
                >
                  <v-icon left>mdi-file-pdf-box</v-icon>
                  <span>PDF</span>
                </v-btn>
              </template>
              <span>Exportar en PDF</span>
            </v-tooltip>
            &nbsp;
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <JsonExcel
                  :data="excelData"
                  :worksheet="excelSheetName"
                  name="reporte de productos.xls"
                  style="display: inline"
                >
                  <v-btn v-bind="attrs" v-on="on" color="success" dark>
                    <v-icon left>mdi-file-excel-box</v-icon>
                    <span>Excel</span>
                  </v-btn>
                </JsonExcel>
              </template>
              <span>Exportar en Excel</span>
            </v-tooltip>
          </v-flex>
          <v-flex fluid outlined xs12 sm3 md2 pr-3>
            <v-menu
              ref="mDate"
              v-model="mDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="dateFormatted"
                    :error-messages="errors"
                    label="Fecha"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="date = parseDate(dateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="date"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mDate = false"
                @change="updateReport"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              Reporte de Productos
              <small> ({{ dateFormatted }}) </small>
            </v-card-title>

            <v-card-text>
              <v-simple-table fixed-header dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left teal--text subtitle-1">Producto</th>
                      <th class="text-left teal--text subtitle-1">Cant.</th>
                      <th class="text-left teal--text subtitle-1">P. Venta</th>
                      <th class="text-center teal--text subtitle-1">
                        T. Venta <br />S/.{{ Math.round(total * 100) / 100 }}
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="item in productsReport" :key="item.id">
                      <td v-if="item.presentation == 'Individual'">
                        {{ item.product }} ({{ item.presentationQuantity }})
                      </td>
                      <td v-else>
                        {{ item.product }} ({{ item.presentation }}:{{
                          item.presentationQuantity
                        }})
                      </td>
                      <td>{{ item.quantitySale }}</td>
                      <td>
                        S/. {{ Math.round(item.salePrice * 100) / 100 }}
                      </td>
                      <td>
                        S/. {{ Math.round(item.totalSalePrice * 100) / 100 }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
import moment from "moment";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    productsReport: [],
    mDate: false,
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    date: new Date().toISOString().substr(0, 10),
    hasData: false,
    categories: [],
    category: {},
    laboratories: [],
    laboratory: {},
    type: "all",
    showCategory: false,
    showLaboratory: false,
  }),
  computed: {
    total() {
      let total = 0;
      this.productsReport.forEach((element) => {
        total += element.totalSalePrice;
      });
      return total;
    },
    excelSheetName() {
      return moment(this.date).format("DD-MM-YYYY");
    },
    excelData() {
      let data = [];
      let product = "";
      this.productsReport.forEach((element) => {
        if (element.presentation == "Individual") {
          product = element.product + "(" + element.presentationQuantity + ")";
        } else {
          product =
            element.product +
            " (" +
            element.presentation +
            ": " +
            element.presentationQuantity +
            ")";
        }
        data.push({
          Producto: product,
          Cantidad: element.quantitySale,
          "Precio Venta": Math.round(element.salePrice * 100) / 100,
          "Total Venta": Math.round(element.totalSalePrice * 100) / 100,
        });
      });
      data.push({
        Producto: "Total",
        Cantidad: "",
        "Precio Venta": "",
        "Total Venta": Math.round(this.total * 100) / 100,
      });
      return data;
    },
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  methods: {
    /**
     * reportes
     */
    async report() {
      let search = {
        date: this.date,
      };
      this.hasData = false;
      let res = await axios.get("/dayproducts-report", { params: search });
      this.load = false;
      this.hasData = true;
      this.productsReport = res.data;
    },
    /**
     * actualizar el reporte
     */
    async updateReport() {
      let validate = this.$refs.observer.validate()
        if (validate) {
          this.report();
        }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let report = [];
      let product = "";
      this.productsReport.forEach((element) => {
        if (element.presentation == "Individual") {
          product = element.product + "(" + element.presentationQuantity + ")";
        } else {
          product =
            element.product +
            " (" +
            element.presentation +
            ": " +
            element.presentationQuantity +
            ")";
        }
        report.push({
          Producto: product,
          Cantidad: element.quantitySale,
          "Precio Venta": "S/." + Math.round(element.salePrice * 100) / 100,
          "Total Venta":
            "S/." + Math.round(element.totalSalePrice * 100) / 100,
        });
      });
      report.push({
        Producto: "Total",
        Cantidad: "",
        "Precio Venta": "",
        "Total Venta": "S/." + Math.round(this.total * 100) / 100,
      });
      const columns = [
        { title: "Producto", dataKey: "Producto" },
        { title: "Cantidad", dataKey: "Cantidad" },
        { title: "Precio Venta", dataKey: "Precio Venta" },
        { title: "Total Venta", dataKey: "Total Venta" },
      ];
      const doc = new jsPDF({
        orientation: "portrait",
        unit: "in",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc
        .setFontSize(16)
        .text("Reporte de Productos de " + this.dateFormatted, 0.5, 1.0);
      // create a line under heading
      doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: report,
        margin: { left: 0.5, top: 1.25 },
      });
      // Creating footer and saving file

      doc.save("Reporte de Productos.pdf");
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
  },
};
</script>