<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Reporte</h1>
      <h3 class="title-page black--text">Ventas de Productos</h3>
      <hr />
      <h4>Seleccionar Tipo</h4>
      <v-radio-group v-model="type" row @change="changeType">
        <v-radio label="Todo" value="all" color="success"></v-radio>
        <v-radio label="Categoria" value="category" color="success"></v-radio>
        <v-radio label="Laboratorio" value="laboratory" color="success"></v-radio>
        <v-radio
          label="Categoría y Laboratorio"
          value="categoryLaboratory"
          color="success"
        ></v-radio>
      </v-radio-group>
      <hr />
      <validation-observer ref="observer">
        <v-row>
          <v-flex fluid outlined xs12 sm6 md3 pl-3>
            <v-autocomplete
              class="separate"
              v-model="category"
              :items="categories"
              label="Seleccionar Categoría"
              item-text="name"
              @change="updateReport"
              v-if="showCategory"
            >
            </v-autocomplete>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md3 pl-3>
            <v-autocomplete
              class="separate"
              v-model="laboratory"
              :items="laboratories"
              label="Seleccionar Laboratorio"
              item-text="name"
              @change="updateReport"
              v-if="showLaboratory"
            >
            </v-autocomplete>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mBeginDate"
              v-model="mBeginDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Inicial"
                  rules="required"
                >
                  <v-text-field
                    v-model="beginDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Inicial"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="beginDate = parseDate(beginDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="beginDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mBeginDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex fluid outlined xs12 sm6 md2 pr-3>
            <v-menu
              ref="mEndDate"
              v-model="mEndDate"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <validation-provider
                  v-slot="{ errors }"
                  name="Fecha Final"
                  rules="required"
                >
                  <v-text-field
                    v-model="endDateFormatted"
                    :error-messages="errors"
                    label="Fecha  Final"
                    hint="Formato DD/MM/YYYY"
                    readonly
                    v-bind="attrs"
                    @blur="endDate = parseDate(endDateFormatted)"
                    v-on="on"
                  ></v-text-field>
                </validation-provider>
              </template>
              <v-date-picker
                ref="picker"
                v-model="endDate"
                :max="new Date().toISOString().substr(0, 10)"
                no-title
                @input="mEndDate = false"
                @change="report"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        </v-row>
      </validation-observer>
      <v-row>
        <v-col cols="12">
          <v-card elevation="2">
            <v-card-title>
              Reporte de Productos
              <small>
                ({{ beginDateFormatted }} al {{ endDateFormatted }})
              </small>
              <v-spacer></v-spacer>
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <br />
                  <v-btn
                    v-bind="attrs"
                    v-on="on"
                    @click="exportPdf"
                    color="red"
                    dark
                  >
                    <v-icon left>mdi-file-pdf-box</v-icon>
                    <span>PDF</span>
                  </v-btn>
                </template>
                <span>Exportar en PDF</span>
              </v-tooltip>
              &nbsp;
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <JsonExcel
                    :data="excelData"
                    :worksheet="excelSheetName"
                    name="reporte de ventas de productos.xls"
                    style="display: inline"
                  >
                    <v-btn v-bind="attrs" v-on="on" color="success" dark>
                      <v-icon left>mdi-file-excel-box</v-icon>
                      <span>Excel</span>
                    </v-btn>
                  </JsonExcel>
                </template>
                <span>Exportar en Excel</span>
              </v-tooltip>
            </v-card-title>

            <v-card-text>
              <v-simple-table fixed-header dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left teal--text subtitle-1">Producto</th>
                      <th class="text-left teal--text subtitle-1">Cant.</th>
                      <th class="text-left teal--text subtitle-1">P. Venta</th>
                      <th class="text-center teal--text subtitle-1">
                        T. Venta <br />S/.{{
                          Math.round(total.sales * 100) / 100
                        }}
                      </th>
                      <th class="text-center teal--text subtitle-1">
                        T. Compra<br />S/.{{
                          Math.round(total.buys * 100) / 100
                        }}
                      </th>
                      <th class="text-center teal--text subtitle-1">
                        Ganancia<br />S/.{{
                          Math.round(total.profits * 100) / 100
                        }}
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="hasData">
                    <tr v-for="item in productsReport" :key="item.id">
                      <td v-if="item.presentation == 'Individual'">
                        {{ item.product }} ({{ item.presentationQuantity }})
                      </td>
                      <td v-else>
                        {{ item.product }} ({{ item.presentation }}:{{
                          item.presentationQuantity
                        }})
                      </td>
                      <td>{{ item.quantitySale }}</td>
                      <td>
                        S/. {{ Math.round(item.salePrice * 100) / 100 }}
                      </td>
                      <td>
                        S/. {{ Math.round(item.totalSalePrice * 100) / 100 }}
                      </td>
                      <td>
                        S/. {{ Math.round(item.totalBuyPrice * 100) / 100 }}
                      </td>
                      <td>
                        S/.
                        {{
                          Math.round(
                            (item.totalSalePrice - item.totalBuyPrice) * 100
                          ) / 100
                        }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";
import moment from "moment";
export default {
  components: { JsonExcel },
  data: (vm) => ({
    load: true,
    productsReport: [],
    mBeginDate: false,
    beginDateFormatted: vm.formatDate(
      vm.addDays(new Date(), -30).toISOString().substr(0, 10)
    ),
    beginDate: vm.addDays(new Date(), -30).toISOString().substr(0, 10),
    mEndDate: false,
    endDateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    endDate: new Date().toISOString().substr(0, 10),
    hasData: false,
    categories: [],
    category: {},
    laboratories: [],
    laboratory: {},
    type: "all",
    showCategory: false,
    showLaboratory: false,
  }),
  computed: {
    total() {
      let total = {
        sales: 0,
        buys: 0,
        profits: 0,
      };
      this.productsReport.forEach((element) => {
        total.sales += element.totalSalePrice;
        total.buys += element.totalBuyPrice;
        total.profits += element.totalSalePrice - element.totalBuyPrice;
      });
      return total;
    },
    excelSheetName() {
      return (
        moment(this.beginDate).format("DD-MM-YYYY") +
        " al " +
        moment(this.endDate).format("DD-MM-YYYY")
      );
    },
    excelData() {
      let data = [];
      let product = "";
      this.productsReport.forEach((element) => {
        if (element.presentation == "Individual") {
          product = element.product + "(" + element.presentationQuantity + ")";
        } else {
          product =
            element.product +
            " (" +
            element.presentation +
            ": " +
            element.presentationQuantity +
            ")";
        }
        data.push({
          Producto: product,
          Cantidad: element.quantitySale,
          "Precio Venta": Math.round(element.salePrice * 100) / 100,
          "Total Venta": Math.round(element.totalSalePrice * 100) / 100,
          "Total Compra": Math.round(element.totalBuyPrice * 100) / 100,
          Ganancia:
            Math.round(
              (element.totalSalePrice - element.totalBuyPrice) * 100
            ) / 100,
        });
      });
      data.push({
        Producto: "Total",
        Cantidad: "",
        "Precio Venta": "",
        "Total Venta": Math.round(this.total.sales * 100) / 100,
        "Total Compra": Math.round(this.total.buys * 100) / 100,
        Ganancia: Math.round(this.total.profits * 100) / 100,
      });
      return data;
    },
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    /**
     * mostrar elementos por tipop
     */
    changeType() {
      this.category = "";
      this.laboratory = "";
      switch (this.type) {
        case "all":
          this.showCategory = false;
          this.showLaboratory = false;
          break;
        case "category":
          this.showCategory = true;
          this.showLaboratory = false;
          break;
        case "laboratory":
          this.showCategory = false;
          this.showLaboratory = true;
          break;
        case "categoryLaboratory":
          this.showCategory = true;
          this.showLaboratory = true;
          break;
      }
      this.updateReport();
    },
    /**
     * Listar categorias
     */
    async listCategories() {
      let res = await axios.get("/categories");
      this.categories = res.data;
    },
    /**
     * Listar Laboratorios
     */
    async listLaboratories() {
      let res = await axios.get("/laboratories");
      this.laboratories = res.data;
    },
    /**
     * reportes
     */
    async report() {
      let search = {
        type: this.type,
        laboratory: this.laboratory,
        category: this.category,
        beginDate: this.beginDate,
        endDate: this.endDate,
      };
      this.hasData = false;
      let res = await axios.get("/products-report", { params: search });
      this.load = false;
      this.hasData = true;
      this.productsReport = res.data;
    },
    /**
     * actualizar las ventas
     */
    async updateReport() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        let beginDate = new Date(this.beginDate);
        let endDate = new Date(this.endDate);
        if (beginDate > endDate) {
          this.$refs.observer.setErrors({
            "Fecha Inicial": "La fecha inicial no puede ser mayor que la final",
          });
        } else {
          this.report();
        }
      }
    },
    /**
     * Método  para exportar el reporte en pdf
     */
    exportPdf() {
      let report = [];
      let product = "";
      this.productsReport.forEach((element) => {
        if (element.presentation == "Individual") {
          product = element.product + "(" + element.presentationQuantity + ")";
        } else {
          product =
            element.product +
            " (" +
            element.presentation +
            ": " +
            element.presentationQuantity +
            ")";
        }
        report.push({
          Producto: product,
          Cantidad: element.quantitySale,
          "Precio Venta": "S/." + Math.round(element.salePrice * 100) / 100,
          "Total Venta":
            "S/." + Math.round(element.totalSalePrice * 100) / 100,
          "Total Compra":
            "S/." + Math.round(element.totalBuyPrice * 100) / 100,
          Ganancia:
            "S/." +
            Math.round(
              (element.totalSalePrice - element.totalBuyPrice) * 100
            ) /
              100,
        });
      });
      report.push({
        Producto: "Total",
        Cantidad: "",
        "Precio Venta": "",
        "Total Venta": "S/." + Math.round(this.total.sales * 100) / 100,
        "Total Compra": "S/." + Math.round(this.total.buys * 100) / 100,
        Ganancia: "S/." + Math.round(this.total.profits * 100) / 100,
      });
      const columns = [
        { title: "Producto", dataKey: "Producto" },
        { title: "Cantidad", dataKey: "Cantidad" },
        { title: "Precio Venta", dataKey: "Precio Venta" },
        { title: "Total Venta", dataKey: "Total Venta" },
        { title: "Total Compra", dataKey: "Total Compra" },
        { title: "Ganancia", dataKey: "Ganancia" },
      ];
      const doc = new jsPDF({
        orientation: "portrait",
        unit: "in",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc
        .setFontSize(16)
        .text(
          "Reporte de Productos de " +
            this.beginDateFormatted +
            " al " +
            this.endDateFormatted,
          0.5,
          1.0
        );
      // create a line under heading
      doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: report,
        margin: { left: 0.5, top: 1.25 },
      });
      // Creating footer and saving file

      doc.save("Reporte de Productos.pdf");
    },
    /**
     * Agregar dias a una fecha
     *
     * @param {date} date - fecha
     * @param {days} integer - cantidad de dias agregados
     *
     * @returns date
     */
    addDays(date, days) {
      date.setDate(date.getDate() + days);
      return date;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.report();
    this.listCategories();
    this.listLaboratories();
  },
};
</script>