<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-home-export-outline</v-icon> Administrar Egresos
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-currency-usd</v-icon> Egresos
      </h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md2>
          <v-tooltip top v-if="can(security.expensesCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Egreso</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md2 pr-3>
          <v-autocomplete
            v-model="type"
            :items="['Variable', 'Fijo']"
            label="Tipo"
            item-text="name"
            @change="listAll"
          >
          </v-autocomplete>
        </v-flex>
        <v-flex fluid outlined xs12 sm3 md2 pr-3>
          <v-menu
            ref="mBeginDate"
            v-model="mBeginDate"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="beginDateFormatted"
                label="Fecha  Inicial"
                hint="Formato DD/MM/YYYY"
                readonly
                v-bind="attrs"
                @blur="beginDate = parseDate(beginDateFormatted)"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              ref="picker"
              v-model="beginDate"
              no-title
              @input="mBeginDate = false"
              @change="listAll"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex fluid outlined xs12 sm3 md2 pr-3>
          <v-menu
            ref="mEndDate"
            v-model="mEndDate"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="endDateFormatted"
                label="Fecha  Final"
                hint="Formato DD/MM/YYYY"
                readonly
                v-bind="attrs"
                @blur="endDate = parseDate(endDateFormatted)"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              ref="picker"
              v-model="endDate"
              no-title
              @input="mEndDate = false"
              @change="listAll"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Tipo
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Nombre
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Monto
              </th>
              <th
                v-if="isFijo"
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Fecha Inicial
              </th>
              <th
                v-else
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Fecha
              </th>
              <th
                v-if="isFijo"
                class="text-left white--text subtitle-1 font-weight-bold"
              >
                Fecha Final
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody v-if="hasData">
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.type }}</td>
              <td>{{ item.name }}</td>
              <td>S/. {{ item.amount }}</td>
              <td>{{ item.expense_dates[0].date | moment("DD/MM/YYYY") }}</td>
              <td v-if="isFijo">
                {{
                  item.expense_dates[item.expense_dates.length - 1].date | moment("DD/MM/YYYY")
                }}
              </td>
              <td width="80">
                <v-tooltip top v-if="can(security.expensesUpdate)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.expensesDelete)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.expensesCreate) || can(security.expensesUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.expensesDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    editItem: {},
    search: "",
    save: false,
    remove: false,
    paginate: ["items"],
    type: "Variable",
    mBeginDate: false,
    beginDateFormatted: null,
    beginDate: null,
    mEndDate: false,
    endDateFormatted: null,
    endDate: null,
    hasData: false,
    isFijo: false,
    setTimeoutSearch: ""
  }),
  computed: {
    ...mapGetters(["security", "can", "personDefault"]),
  },
  watch: {
    beginDate(val) {
      this.beginDateFormatted = this.formatDate(this.beginDate);
    },
    endDate(val) {
      this.endDateFormatted = this.formatDate(this.endDate);
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar todos los egresos
     */
    async listAll(page = 1) {
      this.hasData = false;
      if (this.type == "Fijo") {
        this.isFijo = true;
      } else {
        this.isFijo = false;
      }
      let search = {};
      if (this.beginDate == null && this.endDate == null) {
        search = {
          type: this.type,
        };
      } else {
        if (this.beginDate > this.endDate) {
          this.showAlert({
            color: "error",
            text: "La fecha final debe ser mayor que la fecha inicial",
          });
          return;
        } else {
          search = {
            type: this.type,
            beginDate: this.beginDate,
            endDate: this.endDate,
          };
        }
      }
      let res = await axios.get("/expense", { params: search })
        this.list = res.data;
        this.hasData = true;
        this.load = false;
    },

    /**
     * Buscar gastos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     *  Abrir dialog para crear un egreso
     */
    open() {
      this.item = {
        type: this.type,
        name: "",
        amount: "",
        beginDate: new Date().toISOString().substr(0, 10),
        endDate: null,
      };
      this.saveTitle = "Crear Nuevo Egreso";
      this.save = true;
    },
    /**
     * Abrir dialog para editar egreso
     */
    showItem(item) {
      this.editItem = item;
      this.item = {
        id: item.id,
        type: item.type,
        name: item.name,
        amount: item.amount,
        beginDate: item.expense_dates[0].date,
        endDate: item.expense_dates[item.expense_dates.length - 1].date,
      };
      this.saveTitle = "Editar Egreso";
      this.save = true;
    },
    /**
     * Agregar item a la lista de egresos
     *
     * @param {object} data - egreso agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.expense);
    },
    /**
     * Cargar egreso del servidor
     *
     * @param {object} data - egreso seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/expense/${data.id}`, data)
        if (res.status === 200) {
          this.editItem.type = res.data.expense.type;
          this.editItem.name = res.data.expense.name;
          this.editItem.amount = res.data.expense.amount;
          this.editItem.expense_dates = res.data.expense.expense_dates;
        }
    },
    /**
     * Abrir dialog para eliminar egreso
     *
     * @param {object} item - egreso a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de egresos
     *
     * @param {object} data - egreso a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha
     *
     * @param {date} date - fecha
     */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     *
     * @param {date} date - fecha
     */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>