<template>
  <!-- Lista de menu -->
  <v-list-item-group :dark="true">
    <div v-for="(primary,index) in menu" :key="index">
      <div v-if="can(primary.can)">
        <v-list-item
          class="text-decoration-none"
          v-if="primary.sub.length == 0"
          :to="{ name: primary.route }"
        >
          <v-list-item-action>
            <v-icon class="white--text" v-text="primary.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title
              class="menu-font white--text"
              v-text="primary.name"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group v-else>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon class="white--text" v-text="primary.icon"></v-icon>
            </v-list-item-action>
            <v-list-item-title class="menu-font white--text">{{
              primary.name
            }}</v-list-item-title>
          </template>

          <div
            v-for="(secondary,index) in primary.sub"
            :key="index"
          >
            <div v-if="can(secondary.can)">
              <v-list-item
                class="text-decoration-none secondary-left"
                v-if="secondary.submenu.length == 0"
                :to="{ name: secondary.route }"
              >
                <v-list-item-action class="secondary-icon">
                  <v-icon class="white--text" v-text="secondary.icon"></v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title
                    class="menu-font white--text"
                    v-text="secondary.name"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-group v-else no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-action>
                    <v-icon
                      class="secondary-icon white--text"
                      v-text="secondary.icon"
                    ></v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title class="menu-font white--text">{{
                      secondary.name
                    }}</v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item
                  class="text-decoration-none white--text"
                  v-for="(tertiary,index) in secondary.submenu"
                  :key="index"
                  :to="{ name: tertiary.route }"
                  link
                >
                  <div v-if="can(tertiary.can)">
                    <v-list-item-icon>
                      <v-icon
                        class="white--text"
                        v-text="tertiary.icon"
                      ></v-icon>
                    </v-list-item-icon>
                    <v-list-item-title
                      class="menu-font white--text"
                      v-text="tertiary.name"
                    ></v-list-item-title>
                  </div>
                </v-list-item>
              </v-list-group>
            </div>
          </div>
        </v-list-group>
      </div>
    </div>
  </v-list-item-group>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Menu",
  data: () => ({
    menu: [
      //id:3
      {
        name: "Inicio",
        route: "home",
        can: "",
        icon: "mdi-view-dashboard",
        sub: [],
      },
      {
        name: "Administrar Ventas",
        route: "",
        icon: "mdi-currency-usd",
        can: "menu.sale",
        sub: [
          {
            name: "Ventas",
            route: "sale",
            can: "sales.list",
            icon: "mdi-cart",
            submenu: [],
          },
          {
            name: "Clientes",
            route: "client",
            can: "clients.list",
            icon: "mdi-account-tie",
            submenu: [],
          },
          {
            name: "Facturación Electrónica",
            route: "sunatinvoice",
            can: "sunatinvoices.list",
            icon: "mdi-credit-card",
            submenu: [],
          },
        ],
      },
      {
        name: "Administrar Compras",
        route: "",
        icon: "mdi-briefcase-plus",
        can: "menu.buy",
        sub: [
          {
            name: "Compras",
            route: "buy",
            can: "buys.list",
            icon: "mdi-basket-plus",
            submenu: [],
          },
          {
            name: "Proveedores",
            route: "supplier",
            can: "suppliers.list",
            icon: "mdi-account-tie",
            submenu: [],
          },
        ],
      },
      {
        name: "Administrar Productos",
        route: "",
        icon: "mdi-layers-triple-outline",
        can: "menu.product",
        sub: [
          {
            name: "Productos",
            route: "product",
            can: "products.list",
            icon: "mdi-pill",
            submenu: [],
          },
          {
            name: "Presentaciones",
            route: "presentation",
            can: "presentations.list",
            icon: "mdi-archive",
            submenu: [],
          },
          {
            name: "Categorías",
            route: "category",
            can: "categories.list",
            icon: "mdi-ballot",
            submenu: [],
          },
          {
            name: "Laboratorios",
            route: "laboratory",
            can: "laboratories.list",
            icon: "mdi-hospital-building",
            submenu: [],
          },
        ],
      },
      {
        name: "Reportes",
        route: "",
        icon: "mdi-poll-box",
        can: "menu.report",
        sub: [
          {
            name: "Reporte de Productos por Día",
            route: "dayproductsReport",
            can: "reports.dayproducts",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte de Ventas",
            route: "salesReport",
            can: "reports.sales",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte de Compras",
            route: "buysReport",
            can: "reports.buys",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte de Productos",
            route: "productsReport",
            can: "reports.products",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
           {
            name: "Reporte de Egresos",
            route: "expensesReport",
            can: "reports.expenses",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
          {
            name: "Reporte de Ingresos y Egresos",
            route: "balanceReport",
            can: "reports.balance",
            icon: "mdi-file-chart-outline",
            submenu: [],
          },
        ],
      },
      {
        name: "Administración Egresos",
        route: "",
        icon: "mdi-home-export-outline",
        can: "menu.expense",
        sub: [
          {
            name: "Egresos",
            route: "expense",
            can: "expenses.list",
            icon: "mdi-currency-usd",
            submenu: [],
          },
        ],
      },
      {
        name: "Seguridad",
        route: "",
        icon: "mdi-security",
        can: "menu.security",
        sub: [
          {
            name: "Roles",
            route: "role",
            can: "roles.list",
            icon: "mdi-account-lock",
            submenu: [],
          },
          {
            name: "Usuarios",
            route: "user",
            can: "users.list",
            icon: "mdi-account",
            submenu: [],
          },
        ],
      },
      {
        name: "Configuración",
        route: "",
        icon: "mdi-file-cog",
        can: "menu.config",
        sub: [
          {
            name: "Facturación",
            route: "invoice",
            can: "invoices.list",
            icon: "mdi-alpha-f-box",
            submenu: [],
          },
          {
            name: "IGV",
            route: "igv",
            can: "igvs.list",
            icon: "mdi-label-multiple",
            submenu: [],
          },
        ],
      },
      /* Ejemplo de elaborar menus de 3 y 1 nivel
      {
        name: "Menu 2",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [
          {
            name: "SubMenuTitle2",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [
              {
                name: "SubMenu1",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                name: "SubMenu2",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                name: "SubMenu3",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
            ],
          },
          {
            name: "mdi-security",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [],
          },
        ],
      },
      {
        name: "Menu 3",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [],
      },*/
    ],
  }),
  computed: {
    ...mapGetters(["can"]),
  },
};
</script>
<style scoped>
.text-decoration-none {
  text-decoration: none !important;
}
.secondary-left {
  padding-left: 13% !important;
}
.secondary-icon {
  margin-right: 10px !important;
}
.menu-font {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
}
</style>