<template>
  <nav>
    <!-- Navegación horizontal -->
    <v-app-bar color="black" flat app>
      <!-- Icono de navegación -->
      <v-app-bar-nav-icon
        class="grey--text"
        @click="drawer = !drawer"
      ></v-app-bar-nav-icon>

      <!-- Título de la aplicación -->
      <v-toolbar-title class="text-uppercase white--text">
        <span class="font-weight-black">La </span>
        <span>Vida</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <!-- Cerrar sesion -->
      <v-btn text color="white" @click="logout">
        <span>Salir</span>
        <v-icon right> mdi-exit-to-app </v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Navegación vertical -->
    <v-navigation-drawer width="310" app v-model="drawer" class="black">
      <!-- Avatar -->
      <v-img src="/img/assets/menuNav.jpg" min-height="600" color="black">
      <v-layout column align-center class="avatar-box">
        <br>
        <h4 class="white--text font-weight-thin text-uppercase">
          Sistema
        </h4>
        <v-flex class="mt-5">
          <v-avatar size="100">
            <img :src="user.picture" alt="avatar" />
          </v-avatar>
        </v-flex>
        <v-flex>
          <p class="white--text subheading mt-1">{{user.firstName}} {{user.lastName}}</p>
          <!--<Popup />-->
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <!-- Lista de menu -->
      <Menu />
      </v-img>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import Menu from "./Menu";
import { mapGetters } from "vuex";
export default {
  components: {
    Menu,
  },
  name: "Navbar",
  data: () => ({
    drawer: true,
    links: [
      { icon: "mdi-view-dashboard", text: "Dashboard", route: "/dashboard" },
      { icon: "mdi-folder", text: "My Projects", route: "/project" },
      { icon: "mdi-account", text: "Team", route: "/team" },
    ],
  }),
  computed: {
    ...mapGetters(["user", "role"]),
  },
  methods:{
    logout(){
      axios.get("/logout").then((response) => {
        this.$router.go({ path: "/home" })
      });
      
    }
  }
};
</script>
<style scoped>
.text-decoration-none {
  text-decoration: none !important;
}
.avatar-box {
  background: rgba(0, 0, 0, .7)
}
</style>