<template>
  <div class="main-content">
    <v-row>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto text-center" max-width="344">
          <br />
          <v-avatar size="100">
            <img src="/img/assets/client.png" alt="avatar" />
          </v-avatar>

          <v-card-title class="justify-center"
            ><router-link class="text-decoration-none" :to="{ name: 'client' }">
              Clientes
            </router-link></v-card-title
          >

          <v-card-subtitle v-text="clients"></v-card-subtitle>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto text-center" max-width="344">
          <br />

          <v-badge
            v-if="minStockProducts.length > 0"
            bordered
            color="error"
            :content="minStockProducts.length"
            overlap
          >
            <v-avatar size="100">
              <img src="/img/assets/product.png" alt="avatar" />
            </v-avatar>
          </v-badge>

          <v-avatar size="100" v-else>
            <img src="/img/assets/product.png" alt="avatar" />
          </v-avatar>

          <v-card-title class="justify-center"
            ><router-link
              class="text-decoration-none"
              :to="{ name: 'product' }"
            >
              Productos
            </router-link></v-card-title
          >

          <v-card-subtitle v-text="products"></v-card-subtitle>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-card class="mx-auto text-center" max-width="344">
          <br />
          <v-badge
            v-if="sunatInvoicesErrors > 0"
            bordered
            color="error"
            :content="sunatInvoicesErrors"
            overlap
          >
            <v-avatar size="100">
              <img src="/img/assets/FELogo.png" alt="avatar" />
            </v-avatar>
          </v-badge>
          <v-avatar size="100" v-else>
            <img src="/img/assets/FELogo.png" alt="avatar" />
          </v-avatar>

          <v-card-title class="justify-center"
            ><router-link
              class="text-decoration-none"
              :to="{ name: 'sunatinvoice' }"
            >
              Facturación Electrónica
            </router-link></v-card-title
          >

          <v-card-subtitle v-text="'Documentos con errores'"></v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <hr />
    <v-row>
      <v-col cols="12" sm="6">
        <v-card elevation="2">
          <v-card-title> Productos con bajo stock </v-card-title>

          <v-card-text>
            <v-simple-table fixed-header height="380px" dense>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Producto</th>
                    <th class="text-left">Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in minStockProducts" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.stock }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6">
        <v-card elevation="2">
          <v-card-title> Productos mas vendidos</v-card-title>

          <v-card-text>
            <v-simple-table fixed-header height="380px" dense>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Producto</th>
                    <th class="text-left">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in bestSales" :key="item.id">
                    <td v-if="item.presentation.name == 'Individual'">
                      {{ item.product.name }} (unidad)
                    </td>
                    <td v-else>
                      {{ item.product.name }} ({{ item.presentation.name }}:{{
                        item.quantity
                      }}
                      unidades)
                    </td>
                    <td>{{ item.sale_details_count }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="mx-auto text-center" color="green" dark max-width="600">
          <v-card-text>
            <v-sheet color="rgba(255, 255, 255)" dark>
              <line-chart
                :colors="['#229954']"
                :curve="false"
                ytitle="Total Ventas"
                prefix="S/. "
                :data="sales"
              ></line-chart>
            </v-sheet>
          </v-card-text>

          <v-card-text>
            <div class="display-1 font-weight-thin">Ventas 30 Últimos Días</div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions class="justify-center">
            <v-btn block text> Ver Reporte </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  components: {},
  data: () => ({
    clients: 0,
    products: 0,
    sunatInvoicesErrors: 0,
    minStockProducts: [],
    bestSales: [],
    salesReport: [],
  }),
  computed: {
    sales() {
      let values = {};
      this.salesReport.forEach((element) => {
        values[element.date] = element.total;
      });
      return values;
    },
  },
  methods: {
    /**
     * reportes
     */
    async listAll() {
      let res = await axios.get("/dashboard");
      this.clients = res.data.clients;
      this.products = res.data.products;
      this.sunatInvoicesErrors = res.data.sunatInvoicesErrors;
      this.minStockProducts = res.data.minStockProducts;
      this.bestSales = res.data.bestSales;
      this.salesReport = res.data.salesReport;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.text-decoration-none {
  text-decoration: none !important;
}
</style>