<template>
  <div>
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <Dashboard v-if="isAdmin" />
      <Profile v-else />
    </div>
  </div>
</template>

<script>
import Dashboard from "./Dashboard";
import Profile from "./Profile";
export default {
  components: {
    Dashboard,
    Profile,
  },
  data: () => ({
    load: true,
    isAdmin: false,
  }),
  computed: {},
  methods: {
    /**
     * Contar registros de una tabla
     */
    async verifyRole() {
      let res = await axios.get("/current")
        if (res.data.role.special == "all-access") {
          this.load = false;
          this.isAdmin = true;
        } else {
          this.load=false;
          this.isAdmin = false;
        }
    },
  },
  mounted() {
    this.verifyRole();
  },
};
</script>
<style>
.text-decoration-none {
  text-decoration: none !important;
}
</style>