<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Perfil</h1>
      <h3 class="title-page black--text" v-text="user.firstName + ' ' + user.lastName"></h3>
      <hr />
       <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        <v-container class="my-5">
          <v-card class="mx-auto">
            <v-container>
              <v-row dense>
                <v-col
                  cols="12"
                >
                  <v-card>
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <div class="d-flex d-sm-none justify-center">
                          <v-avatar class="ma-3" size="100" tile>
                            <v-img :src="user.picture"></v-img>
                          </v-avatar>
                        </div>
                        <v-card-title
                          class="headline"
                          v-text="user.login"
                        ></v-card-title>
                        <v-card-subtitle
                          v-text="role.name"
                        ></v-card-subtitle>
                        <v-card-text>
                          <div class="font-weight-normal">
                            <strong>Apellidos:</strong> {{ user.lastName }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Nombres:</strong> {{ user.firstName }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>DNI:</strong> {{ user.dni }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Telefono:</strong> {{ user.phone }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Dirección:</strong> {{ user.address }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>E-mail:</strong> {{ user.email }}
                          </div>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn
                            color="orange"
                            class="ml-2 mt-5 white--text"
                            rounded
                            small
                            @click="showItem(item)"
                          >
                            Editar Datos
                          </v-btn>
                          <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                              color="success"
                                class="ml-2 mt-3"
                                v-bind="attrs"
                                v-on="on"
                                fab
                                icon
                                height="40px"
                                right
                                width="40px"
                                @click="changePassword()"
                              >
                                <v-icon>mdi-lock-plus</v-icon>
                              </v-btn>
                            </template>
                            <span>Cambiar Contraseña</span>
                          </v-tooltip>
                        </v-card-actions>
                      </div>

                      <div class="align-self-center">
                        <v-avatar class="d-none d-sm-flex ma-3" size="125" tile>
                          <v-img :src="user.picture">
                            <v-tooltip top>
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  icon
                                  color="black"
                                  @click="editPicture(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              <span>Editar Foto</span>
                            </v-tooltip>
                          </v-img>
                        </v-avatar>
                      </div>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
        <Save
          :dialog="save"
          :title="saveTitle"
          :item="item"
          @close="save = false"
          @edited="restore"
        />
         <Change
          :item="item"
          :dialog="change"
          @close="change = false"
        />
    </div>
  </div>
</template>

<script>
import Save from "../security/user/Save";
import Change from "../security/user/Change"
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";
export default {
  components: {
    Save,
    Change
  },
  data: () => ({
    list: [],
    load: false,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    paginate: ["items"],
    change:false,
  }),
  computed: {
    ...mapGetters(["user", "role"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Abrir dialog para editar usuario
     */
    showItem(item) {
      this.item = this.user;
      this.item.photo = null;
      this.saveTitle = "Editar Usuario";
      this.save = true;
    },
    /**
     * Abrir dialog para cambiar contraseña de usuario
     */
    changePassword() {
      this.item = this.user;
      this.change = true;
    },
    /**
     * Cargar usuario del servidor
     *
     * @param {object} data - usuario seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/user/${data.id}`, data)
        if (res.status === 200) {
          this.item.firstName = res.data.user.firstName;
          this.item.lastName = res.data.user.lastName;
          this.item.dni = res.data.user.dni;
          this.item.birthday = res.data.user.birthday;
          this.item.gender = res.data.user.gender;
          this.item.address = res.data.user.address;
          this.item.phone = res.data.user.phone;
          this.item.picture = res.data.user.picture;
          this.item.qrcode = res.data.user.qrcode;
          this.item.login = res.data.user.login;
          this.item.email = res.data.user.email;
          this.item.roles = res.data.user.roles;
        }
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen del usuario
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    async uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;
      let res = await axios.post(`/user/${this.item.id}/photo`, formData)
        if (res.status === 200) {
          this.showAlert({
            color: "success",
            text: res.data.message,
          });
          this.item.picture = res.data.user.picture;
        }
    },
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>