<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ title }}</span>
        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <validation-provider
              v-slot="{ errors }"
              name="Apellidos"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.lastName"
                :error-messages="errors"
                :counter="50"
                label="Apellidos del Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Nombres"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.firstName"
                :error-messages="errors"
                :counter="50"
                label="Nombres de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="DNI"
              rules="required|numeric|max:8|min:8"
            >
              <v-text-field
                type="number"
                v-model="item.dni"
                :error-messages="errors"
                :counter="8"
                label="DNI del Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Telefono"
              rules="numeric|max:15"
            >
              <v-text-field
                v-model="item.phone"
                :error-messages="errors"
                :counter="15"
                label="Telefono del Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Dirección"
              rules="max:100"
            >
              <v-text-field
                v-model="item.address"
                :error-messages="errors"
                :counter="100"
                label="Direción de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Usuario"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.login"
                :error-messages="errors"
                :counter="50"
                label="Login de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Email"
              rules="required|email|max:255"
            >
              <v-text-field
                v-model="item.email"
                :error-messages="errors"
                label="Correo Electónico"
                prepend-icon="mdi-account"
                :counter="255"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Foto"
              rules="image"
              v-if="!item.id"
            >
              <v-file-input
                :error-messages="errors"
                v-model="item.photo"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Seleccionar imagen"
                prepend-icon="mdi-camera"
                label="Imagen"
                @change="getImg"
              ></v-file-input>
            </validation-provider>
            <div v-if="srcImg" class="text-center">
              <v-avatar
                class="profile"
                align="center"
                color="grey"
                size="164"
                tile
              >
                <v-img :src="srcImg"></v-img>
              </v-avatar>
            </div>
            <br />
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    mBirthDay: false,
    birthDayFormatted: null,
    srcImg: "",
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Usuario
     * Permite guardar el usuario ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el usuario creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(`/user/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
              this.srcImg = "";
            }
          } else {
            let formData = new FormData();
            formData.append("id", this.item.id);
            formData.append("lastName", this.item.lastName);
            formData.append("firstName", this.item.firstName);
            formData.append("dni", this.item.dni);
            formData.append("address", this.item.address);
            formData.append("phone", this.item.phone);
            if (this.item.photo) {
              formData.append("photo", this.item.photo);
            }
            formData.append("picture", this.item.picture);
            formData.append("login", this.item.login);
            formData.append("email", this.item.email);
            res = await axios.post("/user", formData);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
              this.srcImg = "";
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        DNI: error.dni,
        Telefono: error.phone,
        Dirección: error.address,
        Usuario: error.login,
        Email: error.email,
        Foto: error.photo,
      });
    },
    /**
     * Mostrar imagen cargada
     *
     * @param {event} evento que se genera al seleccionar la imagen
     */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
  },
};
</script>