<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-layers-triple-outline</v-icon> Administrar Productos
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-pill</v-icon> Productos
      </h3>
      <hr />
      <v-row>
        <br>
        <v-flex style="display: inline-flex" fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.productsCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Producto</span>
          </v-tooltip>
          &nbsp;
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                @click="exportPdf"
                color="red"
                dark
                icon
                large
              >
                <v-icon>mdi-file-pdf-box</v-icon>
              </v-btn>
            </template>
            <span>Exportar en PDF</span>
          </v-tooltip>
          &nbsp;
          <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
              <JsonExcel
                :data="excelData"
                worksheet="Reporte de Productos"
                name="reporte de productos.xls"
                style="display: inline"
              >
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  color="success"
                  dark
                  icon
                  large
                  @click="listAllByQuantity()"
                >
                  <v-icon>mdi-file-excel-box</v-icon>
                </v-btn>
              </JsonExcel>
            </template>
            <span>Exportar en Excel</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
          <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Imagen
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Producto
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Presentaciones
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Detalle
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>
                <v-avatar class="d-none d-sm-flex ma-3" size="100" tile>
                  <v-img :src="item.picture">
                    <v-tooltip top v-if="can(security.productsPicture)">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          icon
                          color="black"
                          @click="editPicture(item)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                      </template>
                      <span>Editar Imagen</span>
                    </v-tooltip>
                  </v-img>
                </v-avatar>
              </td>
              <td>
                <b>{{
                  item.name
                }}</b>
                
                <ul>
                  <li>
                    <b>Categoría: </b>{{item.category.name}}
                  </li>
                  <li>
                   <b>Laboratorio: </b>{{ item.laboratory.name }}
                  </li>
                  <li>
                    <b>Código: </b>{{ item.code }}
                  </li>
                  <li> <b>Stock Mínimo: </b>{{ item.minStock }}</li>
                </ul>
              </td>
              <td>
                <v-list flat dense>
                  <v-list-item-group color="primary">
                    <v-list-item
                      v-for="p in item.presentation_products"
                      :key="p.id"
                    >
                      <v-list-item-content @click="editPresentation(p, item)">
                        <v-list-item-title
                          v-if="p.presentation.name == $singlePresentation"
                        >
                          {{ unit.name + ": S/. " + p.salePrice
                          }}<strong>
                            <v-icon> mdi-arrow-right-bold</v-icon>
                            {{ Math.round(p.stock * 100) / 100 }}
                          </strong>
                        </v-list-item-title>
                        <v-list-item-title v-else>
                          {{
                            p.presentation.name +
                            "(" +
                            p.quantity +
                            " " +
                            unit.plural +
                            "): S/. " +
                            p.salePrice
                          }}
                          <strong>
                            <v-icon> mdi-arrow-right-bold</v-icon>
                            {{ Math.round(p.stock * 100) / 100 }}
                          </strong>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
                <v-tooltip top v-if="can(security.presentationsList)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-row align="center" justify="space-around">
                      <v-btn
                        x-small
                        v-bind="attrs"
                        v-on="on"
                        color="black"
                        class="ma-2 white--text"
                        fab
                        @click="addPresentation(item)"
                      >
                        <v-icon dark> mdi-plus </v-icon>
                      </v-btn>
                    </v-row>
                  </template>
                  <span>Nueva Presentación</span>
                </v-tooltip>
                <br>
              </td>
              <td>{{ item.detail }}</td>
              <td width="80">
                <v-tooltip top v-if="can(security.productsUpdate)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.productsDelete)">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.productsCreate) || can(security.productsUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.productsDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
        @deletedPresentation="restore"
      />
      <presentation
        v-if="can(security.presentationsCreate)"
        :title="saveTitle"
        :dialog="frmPresentation"
        :item="presentation"
        @close="frmPresentation = false"
        @loadProduct="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import Presentation from "./Presentation";
import { mapMutations, mapGetters } from "vuex";
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import JsonExcel from "vue-json-excel";

export default {
  components: {
    Save,
    Delete,
    Presentation,
    JsonExcel,
  },
  data: () => ({
    list: [],
    listData: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
    presentation: {},
    frmPresentation: false,
  }),
  computed: {
    ...mapGetters(["security", "can", "unit"]),
    excelData() {
      let data = [];
      this.listData.forEach((element) => {
        data.push({
          Código: element.code,
          Categoría: element.category,
          Nombre: element.name,
          Laboratorio:element.laboratory,
          Presentación: element.presentation,
          Stock: Math.round(element.stock * 100) / 100,
          "Precio Compra": (element.buyPrice * 100) / 100,
          "Precio Venta": (element.salePrice * 100) / 100,
          Detalle: element.detail,
        });
      });
      return data;
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar todos los productos paginados
     */
    async listAll(page = 1) {
      let res = await axios.get("/product?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },

    /**
     * Buscar productos al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },

    /**
     * Listar todos los productos dado una cantidad
     *
     * @param {int} quantity - cantidad de items a ser mostrados
     */
    async listAllByQuantity(cant) {
      let res = await axios.get("/products", {
        params: { find: this.search, quantity: cant },
      });
      this.listData = res.data;
    },

    /**
     *  Abrir dialog para crear un producto
     */
    open() {
      this.item = {
        name: "",
        minStock: "",
        detail: "",
        buyPrice: "",
        salePrice: "",
        code: "",
        category: null,
        laboratory: null,
      };
      this.saveTitle = "Crear Nuevo Producto";
      this.save = true;
    },
    /**
     * Abrir dialog para editar producto
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Producto";
      this.save = true;
    },
    /**
     * Agregar item a la lista de productos
     *
     * @param {object} data - producto agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.product);
    },
    /**
     * Cargar producto del servidor
     *
     * @param {object} data - producto seleccionada
     */
    async restore(data) {
      let res = await axios.get(`/product/${data.id}`, data);
      if (res.status === 200) {
        this.item.name = res.data.product.name;
        this.item.minStock = res.data.product.minStock;
        this.item.code = res.data.product.code;
        this.item.detail = res.data.product.detail;
        this.item.category = res.data.product.category;
        this.item.laboratory = res.data.product.laboratory;
        this.item.presentation_products =
          res.data.product.presentation_products;
      }
    },
    /**
     * Abrir dialog para eliminar producto
     *
     * @param {object} item - producto a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de productos
     *
     * @param {object} data - producto a ser eliminada
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen del producto
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    async uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;
      let res = await axios.post(`/product/${this.item.id}/photo`, formData);
      if (res.status === 200) {
        this.showAlert({
          color: "success",
          text: res.data.message,
        });
        this.item.picture = res.data.picture;
      }
    },
    /**
     *  Abrir dialog para crear una presenracion
     */
    addPresentation(product) {
      this.presentation = {
        quantity: "",
        buyPrice: "",
        salePrice: "",
        product: product,
      };
      this.item = product;
      this.saveTitle = "Nueva Presentación ( " +product.name+ " )";
      this.frmPresentation = true;
    },
    /**
     * Abrir dialog para editar producto
     */
    editPresentation(presentation, product) {
      this.presentation = {
        id: presentation.id,
        quantity: presentation.quantity,
        buyPrice: presentation.buyPrice,
        salePrice: presentation.salePrice,
        product: product,
        presentation: presentation.presentation,
      };
      this.item = product;
      this.saveTitle = "Modificar Presentación ( "+product.name+" )";
      this.frmPresentation = true;
    },

    /**
     * Método  para exportar el reporte en pdf
     */
    async exportPdf() {
      await this.listAllByQuantity();
      let products = [];
      this.listData.forEach((element) => {
        products.push({
          code: element.code,
          category: element.category,
          name: element.name,
          laboratory:element.laboratory,
          presentation: element.presentation,
          stock: Math.round(element.stock * 100) / 100,
          buyPrice: "S/. " + (element.buyPrice * 100) / 100,
          salePrice: "S/. " + (element.salePrice * 100) / 100,
          detail: element.detail,
        });
      });
      const columns = [
        { title: "Códgo", dataKey: "code" },
        { title: "Categoría", dataKey: "category" },
        { title: "Nombre", dataKey: "name" },
        { title: "Laboratorio", dataKey: "laboratory" },
        { title: "Presentación", dataKey: "presentation" },
        { title: "Stock", dataKey: "stock" },
        { title: "Precio Venta", dataKey: "buyPrice" },
        { title: "Precio Compra", dataKey: "salePrice" },
        { title: "Detalles", dataKey: "detail" },
      ];
      const doc = new jsPDF({
        orientation: "landscape",
        unit: "in",
        format: "a4",
      });
      // text is placed using x, y coordinates
      doc.setFontSize(16).text("Reporte de Productos", 0.5, 1.0);
      // create a line under heading
      doc.setLineWidth(0.01).line(0.5, 1.1, 8.0, 1.1);
      // Using autoTable plugin
      doc.autoTable({
        columns,
        body: products,
        margin: { left: 0.5, top: 1.25 },
      });
      // Creating footer and saving file

      doc.save("Reporte de Productos.pdf");
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>