<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Presentacion-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Presentación"
                  rules="required"
                >
                  <v-autocomplete
                    v-model="item.presentation"
                    :items="presentations"
                    :error-messages="errors"
                    prepend-icon="mdi-archive"
                    label="Presentación"
                    item-text="name"
                    :readonly="item.id > 0"
                    dense
                    return-object
                  ></v-autocomplete>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Cantidad-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Cantidad"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.quantity"
                    :error-messages="errors"
                    :label="'Cantidad(' + unit.plural + ')'"
                    prepend-icon="mdi-archive"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Precio de compra-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Precio de Compra"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.buyPrice"
                    :error-messages="errors"
                    label="Precio de Compra"
                    prepend-icon="mdi-archive"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Precio de venta-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Precio de Venta"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.salePrice"
                    :error-messages="errors"
                    label="Precio de Venta"
                    prepend-icon="mdi-archive"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
              <v-btn
                v-if="item.id"
                depressed
                color="error"
                :loading="loading"
                :disabled="loading"
                @click="deleteItem"
                >Eliminar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
    <Delete
      v-if="can(security.presentationsDelete)"
      :dialog="remove"
      :item="item"
      :element="element"
      @close="close"
    />
  </v-dialog>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import Delete from "./DeletePresentation";
export default {
  components: {
    Delete,
  },
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    presentations: [],
    remove: false,
    element: "",
  }),
  computed: {
    ...mapGetters(["security", "can", "unit"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de la presentación del producto seleccionado en la lista principal
     */
    close() {
      this.remove = false;
      this.$emit("close");
      this.$emit("loadProduct", this.item.product);
      this.$refs.observer.reset();
    },
    /**
     * Guardar Presentacion
     * Permite guardar la presentacion ya sea seleccionada o una nueva
     */
    async save() {
      let validate = this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        this.item.presentation_id = this.item.presentation.id;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(
              `/product/${this.item.product.id}/presentation`,
              this.item
            );
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          } else {
            res = await axios.post(
              `/product/${this.item.product.id}/presentation`,
              this.item
            );
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Cantidad: error.quantity,
        "Precio de Compra": error.buyPrice,
        "Precio de Venta": error.salePrice,
      });
    },
    /**
     * Listar presentaciones
     */
    async listPresentations() {
      let res = await axios.get("/presentations");
      this.presentations = res.data;
    },
    /**
     * Abrir dialog para eliminar presentacion
     *
     * @param {object} item - presentacion a ser eliminada
     */
    deleteItem() {
      this.item.presentation_id = this.item.presentation.id;
      this.element =
        this.item.presentation.name +
        "(" +
        this.item.quantity +
        " " +
        this.unit.name +
        "): S/. " +
        this.item.salePrice;
      this.remove = true;
    },
  },
  mounted() {
    this.listPresentations();
  },
};
</script>
<style scoped>
.separate {
  padding-bottom: 0.8rem;
}
</style>