<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--Categoría y Laboratorio-->
            <v-row align="center" class="top-form">
              <!--Categoría-->
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Categoría"
                  rules="required"
                >
                  <v-autocomplete
                    v-model="item.category"
                    :items="categories"
                    :error-messages="errors"
                    prepend-icon="mdi-pill"
                    label="Categoría"
                    item-text="name"
                    return-object
                  ></v-autocomplete>
                </validation-provider>
              </v-flex>
              <!--Laboratorio-->
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Laboratorio"
                  rules="required"
                >
                  <v-autocomplete
                    v-model="item.laboratory"
                    :items="laboratories"
                    :error-messages="errors"
                    prepend-icon="mdi-pill"
                    label="Laboratorio"
                    item-text="name"
                    return-object
                  ></v-autocomplete>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Codigo y Nombre-->
            <v-row align="center" class="top-form" v-if="!item.id">
              <v-flex cols="12" xs2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Código"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,10}?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.code"
                    :error-messages="errors"
                    label="Código"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs10>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombre"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.name"
                    :error-messages="errors"
                    :counter="100"
                    label="Nombre del Producto"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--precio y stock minimo-->
            <v-row align="center" class="top-form" v-if="!item.id">
              <v-flex cols="12" xs4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Precio de Compra"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.buyPrice"
                    :error-messages="errors"
                    label="Precio de Compra"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Precio de Venta"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.salePrice"
                    :error-messages="errors"
                    label="Precio de Venta"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Stock Mínimo"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.minStock"
                    :error-messages="errors"
                    label="Stock Mínimo"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!--Codigo y Nombre-->
            <v-row align="center" class="top-form" v-else>
              <v-flex cols="12" xs2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Código"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,10}?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.code"
                    :error-messages="errors"
                    label="Código"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Nombre"
                  rules="required|max:100"
                >
                  <v-text-field
                    v-model="item.name"
                    :error-messages="errors"
                    :counter="100"
                    label="Nombre del Producto"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Stock Mínimo"
                  :rules="{
                    required: true,
                    regex: /^[\d]{0,16}(\.[\d]{1,2})?$/,
                  }"
                >
                  <v-text-field
                    v-model="item.minStock"
                    :error-messages="errors"
                    label="Stock Mínimo"
                    prepend-icon="mdi-pill"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>
            <!--Detalle-->
            <v-row align="center" class="top-form">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Detalle"
                  rules="max:255"
                >
                  <v-textarea
                    v-model="item.detail"
                    rows="2"
                    :error-messages="errors"
                    label="Detalles"
                    prepend-icon="mdi-pill"
                    :counter="255"
                  ></v-textarea>
                </validation-provider>
              </v-flex>
            </v-row>
            <br />
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    categories: [],
    laboratories: [],
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del producto seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Producto
     * Permite guardar el producto ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el producto creado en la lista principal
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        this.item.category_id = this.item.category.id;
        this.item.laboratory_id = this.item.laboratory.id;
        let res;
        try {
          if (this.item.id) {
            res = await axios.put(`/product/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          } else {
            res = await axios.post("/product", this.item);
            if (res.status === 200) {
              this.$emit("added", res.data);
              this.loading = false;
              this.close();
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Nombre: error.name,
        Código: error.code,
        "Stock Mínimo": error.minStock,
        "Precio de Compra": error.buyPrice,
        "Precio de Venta": error.salePrice,
        Detalle: error.detail,
      });
    },
    /**
     * Listar categorias
     */
    async listCategories() {
      let res = await axios.get("/categories");
      this.categories = res.data;
    },
    /**
     * Listar laboratorios
     */
    async listLaboratories() {
      let res = await axios.get("/laboratories");
      this.laboratories = res.data;
    },
  },
  mounted() {
    this.listCategories();
    this.listLaboratories();
  },
};
</script>
<style scoped>
.separate {
  padding-bottom: 0.8rem;
}
.separate-col {
  padding-top: 0;
  padding-bottom: 0;
}
</style>