<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-file-cog</v-icon> Sistema
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-alpha-f-box</v-icon> Parametros de Facturación
      </h3>
      <hr />
      <v-container class="my-5">
        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col v-for="item in list" :key="item.id" cols="12">
                <v-card>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                      <div class="d-flex d-sm-none justify-center fill-width">
                        <v-avatar class="ma-3" size="150" tile>
                          <v-img src="/img/assets/cpe.png">
                          </v-img>
                        </v-avatar>
                      </div>
                      <v-card-title
                        class="headline"
                      >Parametros para Facturación Electrónica</v-card-title>
                      <v-card-text>
                        <div class="font-weight-normal">
                          <strong>RUC:</strong> {{ item.ruc }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Razón Social:</strong> {{ item.businessName }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Dirección:</strong> {{ item.address }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Telefono:</strong> {{ item.phone }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Correo Electrónico:</strong> {{ item.email }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Ruta Facturador:</strong> {{ item.path }}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Boleta:</strong> {{ item.ticketSerie }} - {{item.ticketCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Factura:</strong> {{ item.invoiceSerie }} - {{item.invoiceCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Nota de Crédito Boleta:</strong> {{ item.creditNoteTicketSerie }} - {{item.creditNoteTicketCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Nota de Crédito Factura:</strong> {{ item.creditNoteInvoiceSerie }} - {{item.creditNoteInvoiceCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Nota de Débito Boleta:</strong> {{ item.debitNoteTicketSerie }} - {{item.debitNoteTicketCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Nota de Débito Factura:</strong> {{ item.debitNoteInvoiceSerie }} - {{item.debitNoteInvoiceCorrelative}}
                        </div>
                        <div class="font-weight-normal">
                          <strong>Guia de Remisión:</strong> {{ item.remittanceSerie }} - {{item.remittanceCorrelative}}
                        </div>
                      </v-card-text>
                      <v-card-actions>
                        <v-tooltip top v-if="can(security.invoiceUpdate)">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn
                              color="success"
                              class="ml-2 mt-3"
                              v-bind="attrs"
                              v-on="on"
                              fab
                              icon
                              height="40px"
                              right
                              width="40px"
                              @click="showItem(item)"
                            >
                              <v-icon>mdi-pencil-box-multiple</v-icon>
                            </v-btn>
                          </template>
                          <span>Editar Parametros</span>
                        </v-tooltip>
                      </v-card-actions>
                    </div>

                    <div class="align-self-center fill-height">
                      <v-avatar class="d-none d-sm-flex ma-3" size="200" tile>
                        <v-img src="/img/assets/cpe.png">
                        </v-img>
                      </v-avatar>
                    </div>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-container>
      <Save
        v-if="can(security.invoiceUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @edited="restore"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    save: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los parametros
     */
    async listAll(page = 1) {
      let res = await axios.get("/invoice");
      this.list = res.data;
      this.load = false;
    },
    /**
     * Abrir dialog para editar parametro
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Parametros";
      this.save = true;
    },
    /**
     * Cargar parametros del servidor
     *
     * @param {object} data - parametro seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/invoice/${data.id}`, data);
      if (res.status === 200) {
        this.item.ruc = res.data.invoice.ruc;
        this.item.businessName = res.data.invoice.businessName;
        this.item.address = res.data.invoice.address;
        this.item.phone = res.data.invoice.phone;
        this.item.email = res.data.invoice.email;
        this.item.path = res.data.invoice.path;
        this.item.ticketSerie = res.data.invoice.ticketSerie;
        this.item.ticketCorrelative = res.data.invoice.ticketCorrelative;
        this.item.invoiceSerie = res.data.invoice.invoiceSerie;
        this.item.invoiceCorrelative = res.data.invoice.invoiceCorrelative;
        this.item.creditNoteTicketSerie = res.data.invoice.creditNoteTicketSerie;
        this.item.creditNoteTicketCorrelative = res.data.invoice.creditNoteTicketCorrelative;
        this.item.creditNoteInvoiceSerie = res.data.invoice.creditNoteInvoiceSerie;
        this.item.creditNoteInvoiceCorrelative = res.data.invoice.creditNoteInvoiceCorrelative;
        this.item.debitNoteTicketSerie = res.data.invoice.debitNoteTicketSerie;
        this.item.debitNoteTicketCorrelative = res.data.invoice.debitNoteTicketCorrelative;
        this.item.debitNoteInvoiceSerie = res.data.invoice.debitNoteInvoiceSerie;
        this.item.debitNoteInvoiceCorrelative = res.data.invoice.debitNoteInvoiceCorrelative;
        this.item.remittanceSerie = res.data.invoice.remittanceSerie;
        this.item.remittanceCorrelative = res.data.invoice.remittanceCorrelative;
      }
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>