<template>
  <v-dialog persistent v-model="dialog" max-width="700px" min-width="500px">
    <v-card>
      <v-toolbar dark class="amber" height="50">
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <!--RUC-->
            <v-row align="center">
              <v-flex cols="12" xs12 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="RUC"
                  rules="required|numeric|max:11"
                >
                  <v-text-field
                    v-model="item.ruc"
                    :error-messages="errors"
                    :counter="11"
                    label="RUC"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>

              <!--Razon Social-->
              <v-flex cols="12" xs12 sm8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Razón Social"
                  rules="required|max:255"
                >
                  <v-text-field
                    v-model="item.businessName"
                    :error-messages="errors"
                    :counter="255"
                    label="Razón Social"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Dirección -->
            <v-row align="center">
              <v-flex cols="12" xs12>
                <validation-provider
                  v-slot="{ errors }"
                  name="Dirección"
                  rules="max:255"
                >
                  <v-text-field
                    v-model="item.address"
                    :error-messages="errors"
                    :counter="255"
                    label="Direción"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Telefono y Correo -->
            <v-row align="center">
              <v-flex cols="12" xs12 md4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Telefono"
                  rules="required|numeric|max:9"
                >
                  <v-text-field
                    type="number"
                    v-model="item.phone"
                    :error-messages="errors"
                    :counter="9"
                    label="Telefono"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs12 md8>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correo Elctrónico"
                  rules="email|max:255"
                >
                  <v-text-field
                    v-model="item.email"
                    :error-messages="errors"
                    :counter="255"
                    label="Correo Electrónico"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Ruta del facturador Serie Correlativo boleta-->
            <v-row align="center">
              <v-flex cols="12" xs12 sm6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Ruta Facturador"
                  rules="required|max:255"
                >
                  <v-text-field
                    v-model="item.path"
                    :error-messages="errors"
                    :counter="255"
                    label="Ruta Facturador"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie Boleta"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.ticketSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo Boleta"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.ticketCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Serie y correlativo factura y nota credito boleta-->
            <v-row align="center">
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie Factura"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.invoiceSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo Factura"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.invoiceCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie N. Credito Boleta"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.creditNoteTicketSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie N. Credito Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo N. Credito Boleta"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.creditNoteTicketCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo N. Credito Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Serie y correlativo nota de credito factura y nota debito boleta-->
            <v-row align="center">
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie N. Credito Factura"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.creditNoteInvoiceSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie N. Credito Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo N. Credito Factura"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.creditNoteInvoiceCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo N. Credito Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie N. Debito Boleta"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.debitNoteTicketSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie N. Debito Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo N. Debito Boleta"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.debitNoteTicketCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo N. Debito Boleta"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <!-- Serie y correlativo nota de debito boleta y guia de remision-->
            <v-row align="center">
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie N. Debito Factura"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.debitNoteInvoiceSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie N. Debito Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo N. Debito Factura"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.debitNoteInvoiceCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo N. Debito Factura"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs4 sm2>
                <validation-provider
                  v-slot="{ errors }"
                  name="Serie Guia"
                  rules="required|max:4"
                >
                  <v-text-field
                    v-model="item.remittanceSerie"
                    :error-messages="errors"
                    :counter="4"
                    label="Serie Guia"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
              <v-flex cols="12" xs8 sm4>
                <validation-provider
                  v-slot="{ errors }"
                  name="Correlativo  Guia"
                  rules="required|max:8"
                >
                  <v-text-field
                    v-model="item.remittanceCorrelative"
                    :error-messages="errors"
                    :counter="8"
                    label="Correlativo Guia"
                    prepend-icon="mdi-alpha-f-box"
                  ></v-text-field>
                </validation-provider>
              </v-flex>
            </v-row>

            <br />

            <!-- Boton Guardar -->

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog", "type"],
  data: () => ({
    loading: false,
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion de los parametros de facturacion
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar parametros de facturacion
     * Permite guardar los parametros de facturacion
     *
     */
    async save() {
      let validate = await this.$refs.observer.validate();
      if (validate) {
        this.loading = true;
        try {
          if (this.item.id) {
            let res = await axios.put(`/invoice/${this.item.id}`, this.item);
            if (res.status === 200) {
              this.loading = false;
              this.close();
              this.showAlert({
                color: "success",
                text: res.data.message,
              });
            }
          }
        } catch (error) {
          this.loading = false;
          if (error.response.data.errors) {
            this.setErrors(error.response.data.errors);
          }
        }
      }
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        'RUC': error.ruc,
        'Razón Social' : error.businessName,
        'Dirección' : error.address,
         Telefono: error.phone,
        'Correo Elctrónico': error.email,
        'Ruta Facturador' : error.path,
        'Serie Boleta' : error.ticketSerie,
        'Correlativo Boleta': error.ticketCorrelative,
        'Serie Factura' : error.invoiceSerie,
        'Correlativo Factura' : error.invoiceCorrelative,
        'Serie N. Credito Boleta': error.creditNoteTicketSerie,
        'Correlativo N. Credito Boleta': error.creditNoteTicketCorrelative,
        'Serie N. Credito Factura': error.creditNoteInvoiceSerie,
        'Correlativo N. Credito Factura': error.creditNoteInvoiceCorrelative,
        'Serie N. Debito Boleta': error.debitNoteTicketSerie,
        'Correlativo N. Debito Boleta': error.debitNoteTicketCorrelative,
        'Serie N. Debito Factura': error.debitNoteInvoiceSerie,
        'Correlativo N. Debito Factura': error.debitNoteInvoiceCorrelative,
        'Serie Guia': error.remittanceSerie,
        'Correlativo  Guia': error.remittanceCorrelative,
      });
    },
  },
};
</script>