<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">
        <v-icon large>mdi-layers-triple-outline</v-icon> Administrar Compras
      </h1>
      <h3 class="title-page black--text">
        &nbsp;&nbsp;&nbsp;<v-icon>mdi-account-tie</v-icon> Proveedores
      </h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.suppliersCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Proveedor</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
            @keyup="searchData"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <br />
      <v-simple-table>
        <template v-slot:default>
          <thead class="black">
            <tr>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Nombre
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Documento
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Dirección
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Telefono
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Correo
              </th>
              <th class="text-left white--text subtitle-1 font-weight-bold">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list.data" :key="item.id">
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td>{{ item.documentType + ": " + item.documentNumber }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.email }}</td>
              <td width="80">
                <v-tooltip top v-if="can(security.suppliersUpdate) && item.firstName!=personDefault.firstName">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      v-bind="attrs"
                      v-on="on"
                      @click="showItem(item)"
                    >
                      mdi-pencil-box-multiple
                    </v-icon>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip top v-if="can(security.suppliersDelete) && item.firstName!=personDefault.firstName">
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon
                      color="error"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteItem(item)"
                    >
                      mdi-trash-can
                    </v-icon>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <pagination
        :data="list"
        @pagination-change-page="listAll"
        :limit="$pagesVisible"
      ></pagination>
      <Save
        v-if="can(security.suppliersCreate) || can(security.suppliersUpdate)"
        :dialog="save"
        :title="saveTitle"
        :item="item"
        @close="save = false"
        @added="add"
        @edited="restore"
      />
      <Delete
        v-if="can(security.suppliersDelete)"
        :dialog="remove"
        :item="item"
        @close="remove = false"
        @deleted="destroy"
      />
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: {
    Save,
    Delete,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    setTimeoutSearch: "",
  }),
  computed: {
    ...mapGetters(["security", "can","personDefault"]),
  },
  methods: {
    ...mapMutations(["showAlert"]),

    /**
     * Listar todos los proveedores
     */
    async listAll(page = 1) {
      let res = await axios.get("/supplier?page=" + page, {
        params: { find: this.search },
      });
      this.list = res.data;
      this.load = false;
    },
    /**
     * Buscar proveedores al dejar de escribir
     */
    searchData() {
      clearTimeout(this.setTimeoutSearch);
      this.setTimeoutSearch = setTimeout(this.listAll, 360);
    },
    /**
     *  Abrir dialog para crear un proveedor
     */
    open() {
      this.item = {
        personType: "supplier",
        lastName: "",
        firstName: "",
        documentType: "RUC",
        documentNumber: "",
        address: "",
        phone: "",
        picture: "",
      };
      this.saveTitle = "Crear Nuevo Proveedor";
      this.save = true;
    },
    /**
     * Abrir dialog para editar proveedor
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Proveedor";
      this.save = true;
    },
    /**
     * Agregar item a la lista de proveedores
     *
     * @param {object} data - proveedor agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.data.unshift(data.supplier);
    },
    /**
     * Cargar proveedor del servidor
     *
     * @param {object} data - proveedor seleccionado
     */
    async restore(data) {
      let res = await axios.get(`/supplier/${data.id}`, data)
        if (res.status === 200) {
          this.item.personType = res.data.supplier.personType;
          this.item.lastName = res.data.supplier.lastName;
          this.item.firstName = res.data.supplier.firstName;
          this.item.documentType = res.data.supplier.documentType;
          this.item.documentNumber = res.data.supplier.documentNumber;
          this.item.address = res.data.supplier.address;
          this.item.phone = res.data.supplier.phone;
          this.item.email = res.data.supplier.email;
          this.item.picture = res.data.supplier.picture;
        }
    },
    /**
     * Abrir dialog para eliminar proveedor
     *
     * @param {object} item - proveedor a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de proveedores
     *
     * @param {object} data - proveedor a ser eliminado
     */
    destroy(data) {
      this.list.data.splice(this.list.data.indexOf(this.item), 1);
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>